[2015-07-20 21:32] immortaleeb opened #1 "View description and current value of config value when using command"
See rubensworks/EvilCraft#247 for more info

[2015-07-21 22:18] immortaleeb commented on #1
fixed this in ae9a1788f516c7b74b3cb1959d83a80477494bf2

[2015-07-21 22:18] #1 closed, assigned to immortaleeb

[2015-07-28 07:43] rubensworks opened #2 "Add xml recipe wiki page"
Just like https://github.com/rubensworks/EvilCraft/wiki/Recipe-XML

[2015-07-28 07:46] rubensworks opened #3 "Don't create empty config dir"
They should be created by the user, not by the mod and remain empty anyways.

[2015-07-28 12:48] rubensworks opened #4 "Direct Version Checker support"
Move Version Checker support from EvilCraft to Cyclops Core, so that all mods are supported at once.

[2015-07-29 08:56] rubensworks commented on #2
Done in https://github.com/CyclopsMC/CyclopsCore/wiki/Recipe-XML

[2015-07-29 08:56] #2 closed, assigned to nobody

[2015-07-29 09:40] #3 closed, assigned to nobody

[2015-07-29 09:40] #4 closed, assigned to nobody

[2015-11-05 07:33] rubensworks opened #5 "Modpack stats"
Detect modpack stats

[2015-11-07 14:20] rubensworks opened #6 "Incorporate version checker into Forge's checker"
https://github.com/MinecraftForge/MinecraftForge/commit/d79000835348d76735b93a147d703549462c2334#diff-8343fa8aa5aba393e8e653eb0a2d336cR225

[2015-11-22 13:10] rubensworks opened #7 "Mod Compat config category not loaded"
It is not being loaded in the ingame config gui

[2015-11-30 16:53] rubensworks commented on #5
Do this with the `openeye.tags` once it has been ported to 1.8.
https://github.com/OpenMods/OpenData/blob/master/src/openeye/logic/TagsCollector.java

[2015-11-30 18:37] #7 closed, assigned to nobody

[2015-12-05 11:28] SDUBZ opened #8 "crash in nether with evilcraft"
http://pastebin.com/TwpwWAJQ

[2015-12-05 19:53] rubensworks commented on #8
Moved to https://github.com/CyclopsMC/EvilCraft/issues/311

[2015-12-05 19:53] #8 closed, assigned to nobody

[2016-01-20 21:43] rubensworks opened #9 "Broken Packet Handler"
Packets from clients don't reach clients on some servers.

[2016-01-22 11:07] rubensworks opened #10 "Update item handling"
Once this has been merged to Forge: https://github.com/MinecraftForge/MinecraftForge/pull/2385

It is very likely that some changes will need to be done across all of the Cyclops mods.

[2016-01-22 16:24] rubensworks opened #11 "Shared capabilities for tiles and items"
Using @NBTPersist, automatically create a capability that is shared across tiles and items so that they can be used similarly and share logic.
@NBTPersist should have an additional parameter to select if this field should be persisted after block breaking or not.

Make something like `TileComponents`, that can tick are NBT serializable and can provide capabilities. This can then be used for reusab

[2016-01-23 15:55] #9 closed, assigned to nobody

[2016-01-24 13:39] rubensworks commented on #10
Added in 281c73fd145308f63bc274aaffbadbc6dcf40a65

[2016-01-24 13:39] #10 closed, assigned to nobody

[2016-01-25 21:04] rubensworks opened #12 "Check Item Handler capability since update"
It might be broken: https://github.com/MinecraftForge/MinecraftForge/commit/b71b96330111ee7abe7d72d11f429a207a8dbf7d

[2016-02-01 19:20] #12 closed, assigned to nobody

[2016-03-24 23:01] kreezxil opened #13 "cyclopscore{0.5.3} crashes client on startup"
fml latest log: http://paste.ee/p/cvwCi

Crash report: http://paste.ee/p/d8Wqx

[2016-03-25 07:13] rubensworks commented on #13
1.9 is in a state of flux atm: https://twitter.com/LexManos/status/713081449994276865?s=09
An earlier Forge release (like 1767) will work just fine.
I'll make a new release once Forge stabilizes a bit.

[2016-03-26 09:10] MCP105 opened #14 "CyclopsCore 1.9 crash Forge ver. 12.16.0.1811"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  MMFMLCorePlugin (MultiMine-1.9.jar)
  LoadingPlugin (RandomThings-MC1.9-3.6.8.1.jar)
Contact their authors BEFORE contacting forge

// You're mean.

Time: 3/26/16 5:08 PM
Description: There was a severe problem during mod loading that has caused the game to fail

net.minecraftforge.fml.common.LoaderException: java.lang.IllegalAcces

[2016-03-26 09:35] rubensworks commented on #14
Please don't just _dump_ your crash logs here. I have no context, so I don't know what you did to cause this crash.
I don't even see in what way CyclopsCore is related to this, as I only see `cyano.basemetals.BaseMetals` in the stack.

[2016-03-27 14:25] liftoff commented on #14
I am also having a crash on startup with Forge 1.9-12.16.0.1811. I did some debugging and it appears that CyclopseCore will always crash with `java.lang.IllegalAccessError` starting with version 1805 (1804 works).  So if you look at what changed between 1804 and 1805 I'm sure you'll be able to figure out what the problem is.

I have uploaded my entire crash log here: http://paste.ee/p/fyjeM

Let m

[2016-03-27 14:29] rubensworks commented on #14
Seems to be related to #13, Forge is doing some refactoring it seems, so mods are bound to break during this period. I'll look into it soon.

[2016-03-27 15:20] rubensworks commented on #13
Fixed in b0df023adf291016e79a282a4ffe2c4d5c333547, release coming soon.

[2016-03-27 15:20] #13 closed, assigned to nobody

[2016-03-27 15:20] rubensworks commented on #14
Fixed in b0df023adf291016e79a282a4ffe2c4d5c333547, release coming soon.

[2016-03-27 15:20] #14 closed, assigned to nobody

[2016-04-23 15:31] #6 closed, assigned to nobody

[2016-04-24 15:48] rubensworks opened #15 "Crash when placing water in the world"
https://yadi.sk/d/wyIv9nzUrFChm
Source: http://minecraft.curseforge.com/projects/cyclops-core?comment=5

[2016-04-26 09:46] LlubNek commented on #15
Probably related:  I had a crash when picking up lava.
I'm using CyclopsCore-1.9-0.5.6.jar on Forge 1.9-12.16.0.1865.

Here's the log and crash report:
[crash-2016-04-26_05.36.54-client.txt](https://github.com/CyclopsMC/CyclopsCore/files/236303/crash-2016-04-26_05.36.54-client.txt)
[fml-client-latest.log.txt](https://github.com/CyclopsMC/CyclopsCore/files/236305/fml-client-latest.log.txt)
[latest.

[2016-04-26 09:57] rubensworks commented on #15
Thanks @LlubNek! These logs will definitely help :)

[2016-04-26 11:30] #15 closed, assigned to nobody

[2016-04-26 14:04] ghost opened #16 "NoClassDefFoundError: org/cyclops/integrateddynamics/tileentity/TileCoalGenerator"
the Game crashes on startup
crash log: http://paste.ee/p/tmWqS
I use the newest Versions.
regards jokish

[2016-04-26 14:56] rubensworks commented on #16
Thanks, I'll look into it right away.

[2016-04-26 15:05] rubensworks commented on #16
This has been fixed in CyclopsMC/IntegratedDynamics@a38b943cdda9db8a74a8aa05d5b23e9f1bd7e71a
I'll prepare a new release.

[2016-04-26 15:05] #16 closed, assigned to nobody

[2016-05-20 11:19] xenanthropy opened #17 "Crash before loading, VillagerConfig error"
using Forge version 12.16.1.1900, and version 0.6.0 of cyclopscore, it crashes before loading minecraft, here is my log: http://pastebin.com/U8rUXiXM

Only mods tested are cyclopscore and evilcraft, I was contemplating putting this under Evilcraft since it involves that in the error, and also Evilcraft doesn't actually pre-load, but I didn't since the error starts with Cyclopscore.

[2016-05-20 11:22] rubensworks commented on #17
Try updating to Forge 12.16.1.1907. Apparently I forgot to add that as minimal requirement to CyclopsCore, which is why it starts loading.

[2016-05-20 20:12] xenanthropy commented on #17
Nope, same problem with 1907

[2016-05-20 20:33] rubensworks commented on #17
Could you send me the full forge log? Because I can't see any reason why this crash is occuring from the stacktrace only.

[2016-05-20 20:38] xenanthropy commented on #17
http://pastebin.com/vb6cCShH

[2016-05-20 20:39] rubensworks commented on #17
Thanks! I'll try to look into it over the weekend.

[2016-05-20 20:40] xenanthropy commented on #17
Thank you :) I'll wait to play minecraft until then, I can't go on without those Evilcraft tanks ;p

[2016-05-20 20:42] rubensworks commented on #17
You could always use an earlier version of the mod until then ;-) Unless that also crashes your game?

[2016-05-20 20:45] xenanthropy commented on #17
I'll definitely try that, since there's a couple of other releases for 1.9. I'll try now actually and see... It works! Cyclops 0.5.9 works with the newest version of Evilcraft.

[2016-05-22 13:28] rubensworks commented on #17
I have no idea what may be causing your crash. I can not reproduce it in any way.
It looks like your EvilCraft jar somehow is calling CyclopsCore code in the wrong way, even though my code calls it correctly.

I suggest you try out the new 1.9.4 versions (which will be released later today), and see if that magically fixes your problem.

[2016-05-22 20:15] xenanthropy commented on #17
Are the 1.9.4 versions compatible with just regular 1.9?

[2016-05-22 20:18] rubensworks commented on #17
@xenanthropy No, they aren't. Most mods who already were on 1.9 will probably update to 1.9.4 soon enough.

[2016-06-18 03:38] MrTubzy456 opened #18 "Item render crash in smp"
http://pastebin.com/m65HLHBn

I can't give you much more info. One of my players gave this to me. We're on version 1.9.4-0.6.3.

[2016-06-18 06:56] rubensworks commented on #18
If that player could give some additional info, that'd be great.
This one will otherwise be a very difficult one to debug.

[2016-06-18 08:17] FlawlessGecko commented on #18
I am the user having the error here is a later log http://pastebin.com/3JUy0ZjY it seems to be some block or item in my inventory. I killed myself and was able to open my inventory with no items in it but I opened my grave and items went back into inventory since then I click on anything that open my inventory it crash's such as crafting table,e,chest,refined storage. If you need more info I am gl

[2016-06-18 08:25] rubensworks commented on #18
@FlawlessGecko Which items were in your inventory when you crashed?
I am looking for items from one of the following mods: EvilCraft, Integrated Dynamics, Fluid Converters, Colossal Chests, Structured Crafting.

[2016-06-18 08:46] FlawlessGecko commented on #18
@rubensworks Lots of items I can't look at them due to crash if I press my inventory button.I had recently mined and was building. My hot-bar contains wand swapper and some clay blocks. I just tried to drop the items on the ground and crashed out with this  http://pastebin.com/va3Br3Ev.

[2016-06-18 08:48] rubensworks commented on #18
@FlawlessGecko Ah, in this crash I can see what is causing is. Apparently you picked up a Blood Stained Block from EvilCraft somehow. I'll create an issue in the EC repo.

[2016-06-18 08:50] FlawlessGecko commented on #18
@rubensworks Thanks thought that might do the trick.

[2016-06-26 06:59] rubensworks commented on #18
Fixed in CyclopsMC/EvilCraft#412

[2016-06-26 06:59] #18 closed, assigned to nobody

[2016-08-08 19:23] vrork opened #20 "Crash on launch"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  IC2core (industrialcraft-2-2.6.30-ex110.jar)
  LoadingPlugin (ResourceLoader-MC1.9.4-1.5.1.jar)
  OFMDepLoader (OpenFM-1.9.4-0.1.0.11.jar)
  StepupfixCore (StepupFix-1.10.2-1.0.0.0.jar)
  CoreMod (Aroma1997Core-1.9.4-1.1.0.3.jar)
  LoadingPlugin (Quark-beta-49.jar)
  LoadingPlugin (CustomMainMenu-MC1.9.4-2.0.1.jar)
  EnderCorePlugi

[2016-08-08 19:23] rubensworks commented on #17
Considering this resolved.

[2016-08-08 19:23] #17 closed, assigned to nobody

[2016-08-08 19:25] rubensworks commented on #20
I _just_ fixed this 4b1049ae95c053a1f23ee3e02740fd94edee6bbe
You can try the latest dev build to see if this resolves your issue: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/cyclopscore/CyclopsCore/1.9.4-0.7.4-385/CyclopsCore-1.9.4-0.7.4-385.jar
The new version will be released later this week.

[2016-08-08 19:33] vrork commented on #20
Yep, fixed.

[2016-08-08 19:33] #20 closed, assigned to nobody

[2016-08-22 21:05] LotuxPunk opened #21 "Crash on destroy block"
Hello, can you help me please ?

[http://pastebin.com/3CChxKqC](url)
[crash-2016-08-22_13.40.04-server.txt](https://github.com/CyclopsMC/CyclopsCore/files/431143/crash-2016-08-22_13.40.04-server.txt)

[2016-08-23 06:11] rubensworks commented on #21
This is an Integrated Dynamics crash, and has been fixed in CyclopsMC/IntegratedDynamics@731fa2dedc1fc14694023d4fc393421f07670a81, but has not been released (yet).

[2016-08-23 06:11] #21 closed, assigned to nobody

[2016-08-24 00:19] kwpugh opened #22 "[1.10.2] Crash on Server start"
Forge: 2071
Mod: CyclopsCore-1.9.4-0.7.6.jar
EvilCraft-1.10.2-0.10.9.jar

crash report: http://pastebin.com/raw/FjL6KPrk

[2016-08-24 04:53] rubensworks commented on #22
This has been fixed in EvilCraft 0.10.10.

[2016-08-24 04:53] #22 closed, assigned to nobody

[2016-08-30 02:17] drakray opened #23 "[Crash] When looking at Environmental Accumulator from worldGen structure"
http://pastebin.com/mM3irFvJ
Forge 2075
CyclopsCore 0.7.6
Evilcraft 0.10.10

[2016-08-30 02:25] drakray commented on #23
Saw the drpmedieval part, posted to [Dark Roleplay Medieval](https://minecraft.curseforge.com/projects/dark-roleplay-medieval/issues/4) too

[2016-08-30 15:52] #23 closed, assigned to nobody

[2016-09-18 06:39] Rongmario opened #24 "Crash with GregTech 5 on 1.10.2"
https://github.com/Blood-Asp/GT5-Unofficial/issues/638

[2016-09-18 08:29] rubensworks commented on #24
That does indeed seem to be a problem with EvilCraft, I moved it there.

[2016-09-18 08:29] #24 closed, assigned to nobody

[2016-10-09 18:29] utoc opened #25 "Crash with Pressure Pipes after ID/CC/CC update"
Greetings!

Crash here: http://pastebin.com/KZS0GiDf

This crash happened after updating CyclopsCore, CommonCapab and ID to 0.8.0, 1.2.0 and 0.6.0 Respectively.  FML 2095 on MC1.10.2 with bdlib 1.12.2.14 and pressurepipes 1.3.1.16

I don't know what the setup was that crashed it; it happened on a live server with several users bases' being loaded at server start.  In the meantime we've reverted an

[2016-10-09 18:33] rubensworks commented on #25
That looks like a Forge block mapping issue, I thought those were a thing from the past...
Does the crash re-occur after a restart?

[2016-10-09 18:40] utoc commented on #25
Every time, unfortunately.

[2016-10-10 17:39] rubensworks commented on #25
Fixed in Integrated Dynamics, CyclopsMC/IntegratedDynamics@155f237a8146ee5ebcc3dd01b07e8cfc68e1210e
Scheduled for next release.

[2016-10-10 17:39] #25 closed, assigned to nobody

[2016-10-20 20:02] lilmoefow opened #26 "Random Server crash on Start-Up"
This does not happen everytime, and I am not even necessarily sure it is caused by Cyclops Core (its just the first mod referenced in the crash)

http://pastebin.com/7y9H9PDk

If you happen to know why its happening or can point me in the right direction of whats causing it, just let me know.

[2016-10-23 00:56] rubensworks commented on #26
I'm not really sure what could cause a crash like this, might be something funky in your JVM. If anyone else is experiencing this crash, please let me know.

[2016-11-06 17:49] UnNinja commented on #26
WE've recently begun experiencing this crash as well. Doesn;t happen every boot up. http://pastebin.com/8fJRpR7e

[2016-11-06 17:50] rubensworks commented on #26
@UnNinja This seems to be a completely different crash, could you create a separate issue for it? Thanks.

[2016-11-10 13:23] UnNinja opened #27 "Server crash on startup"
http://pastebin.com/4FMP1jPF
Doesn't happen every time. maybe about 1 in 4 times

[2016-11-11 00:49] Speiger opened #28 "IC2Classic Crash"
Since 1.10.2 IC2Classic has his own File Structure and is not compatible with IC2Exp Core class access anymore.

This crash comes from one of your mods. I tried to find out which directly but i was unable to find which mod has the classes...

Here is the crash:
http://pastebin.com/nwSF6Tbp

IC2Classic has a second modID where you can detect when it is loaded.
"IC2-Spmod-Classic"
Would be nice if y

[2016-11-11 08:59] rubensworks commented on #28
Why are you still using the same main mod id then? I don't think it's a good idea to share modid's with different mods.

Eitherway, it's an easy thing for me to fix in CommonCapabilities, but still, I think you should reconsider your mod id.

[2016-11-11 09:15] #28 closed, assigned to nobody

[2016-11-11 09:26] Speiger commented on #28
Well mainly because of modcompat because even so if ic2c is not ic2exp its still ic2 so using that modid makes actually sense because i support their API sich close systems...

What you could do is a custom sidedProxy which would be the best solution or prevent the load of your ic2 plugin when you detect ic2classic. That's why I have two modids

[2016-11-11 09:28] rubensworks commented on #27
I'm not able to reproduce this with any of the Cyclops mods loaded on the lastest Forge version.
I suspect that you are using a mod that is somehow messing with class loading, which could result in such strange crashes.
It is very likely that such a crash will also occur in other mods when this mod is not loaded.

I suggest that you have a look at the mods you are using, and try removing them one

[2016-11-11 09:28] rubensworks commented on #26
I'm not able to reproduce this with any of the Cyclops mods loaded on the lastest Forge version.
I suspect that you are using a mod that is somehow messing with class loading, which could result in such strange crashes.
It is very likely that such a crash will also occur in other mods when this mod is not loaded.

I suggest that you have a look at the mods you are using, and try removing them one

[2016-11-11 22:01] lilmoefow commented on #26
I feel like it was an issue with minetweaker.  Can probably just close this for now.  I was just recently able to update CraftTweaker and Modtweaker, and have not had any of those crashes since.  Using Sponge on the server I need to stay on the same forge versions they use, so I sometimes behind a version or 2 on some mods.

Sorry for the bother

[2016-11-11 22:01] #26 closed, assigned to nobody

[2016-12-30 17:34] 0Navis0 opened #31 "java.lang.NullPointerException: Ticking player"
I got this crash while loading a world, not sure what caused it. http://pastebin.com/4CGxm9B4

[2016-12-31 12:55] rubensworks commented on #31
Looks like a very rare edge-edge-case, I'll look into it.

[2016-12-31 12:56] #31 closed, assigned to nobody

[2017-01-02 22:52] Gunner76th opened #33 "Could not access field during tile persistence"
http://pastebin.com/xZcmfLCt
Player was crafting leather and server crashed. Running Sky Factory 3 from FTB using the official Server and client packs with no modifications to the pack setup.

[2017-01-02 23:10] Gunner76th commented on #33
Looks like this is actually being caused by Integrated Dynamics as posted here https://github.com/CyclopsMC/IntegratedDynamics/issues/100

[2017-01-03 07:23] rubensworks commented on #33
@Gunner76th I can't look into it right now myself, but in the meantime, could you try the following dev build?
This won't fix your issue, but it will add additional information to the logs which may help me pinpoint the problem.
https://dl.bintray.com/cyclopsmc/dev/org/cyclops/cyclopscore/CyclopsCore/1.9.4-0.8.2-450/CyclopsCore-1.9.4-0.8.2-450.jar

[2017-01-03 16:12] Gunner76th commented on #33
I am not sure what changes you made to dev build 450, however you need to push that change to Release build 0.8.3 as it has resolved the crash related to using the drying basin to process rotten flesh into leather. One of my Devs from Team IHOC will be posting shortly what he was doing on his end when testing your Dev build 450.

Because the server did not crash, and there was nothing at all poste

[2017-01-03 16:15] rubensworks commented on #33
That's strange, because there literally have been no changes that could solve this, only some additional debugging.
Did some other mods update as well? Because I have the feeling that there may be a coremod causing this.

[2017-01-03 16:15] Gunner76th commented on #33
Ok it didnt crash the server, however Meril Resin did just cause the console to spam a bunch of information

[2017-01-03 16:16] rubensworks commented on #33
Ok, that's probably good, I need that information.

[2017-01-03 16:18] Gunner76th commented on #33
I will be uploading our complete console log set shortly. here is a snipet of the current console spammage

 [11:15:14] [Netty Epoll Server IO #2/INFO] [STDERR/]: [org.cyclops.cyclopscore.persist.nbt.NBTClassType:performActionForField:604]: java.lang.IllegalAccessException: Class org.cyclops.cyclopscore.persist.nbt.NBTClassType can not access a member of class org.cyclops.integrateddynamics.tileen

[2017-01-03 16:20] Gunner76th commented on #33
Sorry for the spam wall. I tried to use the spoiler tag but it didnt work.

[2017-01-03 16:21] Gunner76th commented on #33
Also, no since lastnight when I first posted this, as well as replied to the post on the Integrated Dynamics github, none of our mods on the server or client have been updated or changed. the only one that has been touched is the core mod you are having me test.

[2017-01-03 16:22] Gunner76th commented on #33
https://cdn.discordapp.com/attachments/185154175200526336/265876300705693697/2017-01-03_17.17.35.png this is a screen grab my DEV did when he was testing the Meril Resin that generated the above information.

[2017-01-03 16:30] Gunner76th commented on #33
I am having him redo the test, and this time mention in game what each combo is that he is testing before he does it, so that you can see in the log file what triggers the console spam and what doesnt

[2017-01-03 16:41] Gunner76th commented on #33
[Log files Dev 450.zip](https://github.com/CyclopsMC/CyclopsCore/files/682720/Log.files.Dev.450.zip)

[2017-01-03 16:43] Gunner76th commented on #33
That is all of the log files for our testing. Hopefully this helps. Because the dev build has stopped the server from crashing (even if it does spam the console on Meril) I am considering this issue resolved in DEV build. I am going to keep the dev build on our server until you are able to push it to the release channel. I will also update/cross post in Integrated Dynamics our results here.

[2017-01-03 17:19] rubensworks commented on #33
@Gunner76th Could you try the following dev build and let me know if you still experience the console spam? https://dl.bintray.com/cyclopsmc/dev/org/cyclops/cyclopscore/CyclopsCore/1.9.4-0.8.2-459/CyclopsCore-1.9.4-0.8.2-459.jar

[2017-01-03 17:31] Gunner76th commented on #33
Beginning test now. Using Dev Build 459 we have tried everything, and there is no output to the console now.

[2017-01-03 17:34] rubensworks commented on #33
Ok, that's good new. That means there is some mod in your pack doing some funky things it shouldn't be doing. But if that latest change resolves the issue, I can circumvent it.
Thanks for testing this!

[2017-01-03 17:35] Gunner76th commented on #33
No problem. The modpack in question is maintained by Bacon_Donut, and is SkyFactory 3 which was released about 24-48 hours ago.

[2017-01-03 19:13] #33 closed, assigned to rubensworks

[2017-01-07 14:22] Player3324 opened #35 "CapabilityConstructorRegistry performance"
The map lookup in org.cyclops.cyclopscore.modcompat.capabilities.CapabilityConstructorRegistry.onLoad dominates the time spent in ItemStack copies with > 99.9%. With other mods doing huge quantities of ItemStack.copy() calls this becomes a major contributor to server lag as observed with SkyFactory3 + refined storage, 6.3 ms per tick on average. In other words doing any work of significance in Att

[2017-01-07 14:38] rubensworks commented on #35
I wasn't aware of the performance issue, thanks for reporting this!

Removal of CapabilityConstructorRegistry is however not a solution.
I'll look into improving the lookup efficiency of the Multimaps, an identity-based mapping should indeed already help a lot.

[2017-01-07 16:36] rubensworks commented on #35
Note to self for microbenchmark results when copying 10M ItemStacks:
[code]
This change slightly improves efficiency.

@sfPlayer1 How exactly did you benchmark this? Can I reproduce this?
If you want, you could try the latest dev build to see if this change results in any major performance boost for your test case.
https://dl.bintray.com/cyclopsmc/dev/org/cyclops/cyclopscore/CyclopsCore/1.9.4-0.9.

[2017-01-07 20:29] Player3324 commented on #35
The data was from live observations on regular SkyFactory 3 gameplay, not sure which setup specifically reproduces it since the world is already quite developed. Presumably large colossal chests with lots of different(?) contents connected to refined storage, which I guess copies the inventory contents for change detection. Unfortunately it doesn't show too consistently, so it's hard to compare.

[2017-01-07 20:41] rubensworks commented on #35
I'll have a look to see if I can recreate such a context myself.

@raoulvdberge Do you by any chance provide an easy method for adding a large amount of items to RS networks for debugging?

[2017-01-07 21:37] raoulvdberge commented on #35
@rubensworks Give yourself a storage disk with meta 5.

[2017-01-08 01:02] raoulvdberge commented on #35
You do need to test with an external storage though, normal RS storages don't do any change detection and don't cause stack copying.

[2017-01-08 18:41] Darkosto commented on #35
Cool, I can test this in SF3 if needed. I've been given a few crash reports that are related to this.

[2017-01-08 18:43] rubensworks commented on #35
@Darkosto Could you send me those crash logs? This should only be a performance issue, if it crashes, something else is probably wrong.

[2017-01-08 18:50] Darkosto commented on #35
http://paste.feed-the-beast.com/view/c23e7247

What is the bug? My sub server was at 1 tps and when we got rid of all the colossal chests, it went up to 10. Colossal chests also crash the server often when people have them hooked up to Refined Storage systems

[2017-01-08 18:52] rubensworks commented on #35
@Darkosto This doesn't look related to CyclopsCore, @raoulvdberge it looks like RS is attempting to insert an item for a null item handler capability?

[2017-01-08 19:06] Player3324 commented on #35
That's not really a crash, but a stall for > 60s, so essentially also a performance issue. The stack trace is from MC's watch dog, which can be disabled in server.properties maxTickTime=-1 or similar.

[2017-01-08 19:20] rubensworks commented on #35
@Darkosto The Colossal Chests inefficiency is related to #41, waiting on @raoulvdberge to implement the optimization I provide.

[2017-01-08 19:25] raoulvdberge commented on #35
@rubensworks
I'm not sure if  your optimization is a good enough solution. There will be also lag with for example EiO conduits. Those use `ItemHandlerHelper#insertItem` as well which will loop over every possible slot too, causing the same performance issues as RS is having.

[2017-01-08 19:28] raoulvdberge commented on #35
Correction: `ItemHandlerHelper#insertItem` will short-circuit as soon as it finds an empty slot, so that might not cause perf issues. But other mods can still iterate over any slot and still cause the perf issue as well.

[2017-01-08 19:28] raoulvdberge commented on #35
What I'm getting at is that it might be better to not include unused slots in `IItemHandler#getSlots`.

[2017-01-08 19:30] rubensworks commented on #35
@raoulvdberge The optimization is only good for the continuous change detection in RS networks. For the item insertion you're right, but for that there's not much I can do, the large amount of slots is simply an inherent property of Colossal Chests.

[2017-01-08 21:26] raoulvdberge commented on #35
@rubensworks
External Storage is not the only type of block doing this. Let's take the importer. The importer has to go over every slot to extract the items from the chest. It needs to do this because it has to know the slots to extract from for the whitelist/blacklist.

[2017-01-09 04:11] A-Vladimir opened #36 "Optifine Crash"
Crashes when on launch when i have Optifine installed using CyclopsCore-1.9.4-0.9.0 and OptiFine_1.10.2_HD_U_D4, CyclopsCore-1.9.4-0.8.2 didn't crash with it and can't downgrade to it because i am playing Skyfactory 3 on server.

[2017-01-09 07:52] rubensworks commented on #36
I can't do anything without a crash report.
Your best bet is to report this on the Optifine issue tracker, my focus is on supporting regular Forge-based environments, Optifine always does some funky stuff.

[2017-01-09 12:01] Rob5Underscores-zz opened #37 "Integrated Dynamics - Squeezer Crash"
http://pastebin.com/DQjbLxPM

Running SpongeForge
CyclopsCore Version: 1.9.4-0.0.1
Integrated Dynamics: 1.10.2-0.6.5

Thanks

[2017-01-09 12:03] rubensworks commented on #37
Your CyclopsCore version seems to be invalid, please provide the correct version, and make sure you are using the latest version.

[2017-01-09 12:08] Rob5Underscores-zz commented on #37
Whoops. Not sure what I was reading: CyclopsCore- 1.9.4-0.8.2

[2017-01-09 12:11] rubensworks commented on #37
In that case you are not using the latest CyclopsCore version, which is 0.9.0.
That version fixes #33, which looks like the same problem as you are reporting here.

[2017-01-09 12:11] #37 closed, assigned to nobody

[2017-01-09 12:14] Rob5Underscores-zz commented on #37
Do you forsee any issues compiling 0.9.0 as 0.8.2 (such that players on my server can still join)

[2017-01-09 12:18] rubensworks commented on #37
It shouldn't be a problem, but I strongly advise you to just let the clients update as well, to avoid any other weird problems.

[2017-01-09 17:43] P3rf3ctXZer0 opened #38 "Issue - Crash [1.10.2] - Forge 202 - Clientside while on server"
I clicked the end key on keyboard. It ended my client.

Crashlog
https://gist.github.com/P3rf3ctXZer0/9d3bbf5c7534ea0d147e52fb86686d6e

Fulllog
https://gist.github.com/P3rf3ctXZer0/cd2d9a6a9d270b30322fdcc1aef38a43

[2017-01-09 19:03] rubensworks commented on #38
When did you press the end key? When you were in a gui? Or when in the world?

[2017-01-09 22:57] A-Vladimir commented on #36
[crash-2017-01-09_05.06.52-client.txt](https://github.com/CyclopsMC/CyclopsCore/files/694846/crash-2017-01-09_05.06.52-client.txt)

I know it says "Do not report to Forge! Remove FoamFixAPI (or replace with FoamFixAPI-Lawful) and try again. (foamfix-0.5.0-anarchy.jar)" but i tried removing it and it still crashes.

ps: I have tried to find the optifine issue tracker but their site shows no sign of

[2017-01-09 22:57] nderuijter commented on #36
It seem I have the same issue.

Modpack: FTBPresentsSkyFactory3-3.0.4-1.10.2 (BETA)
which contains CyclopsCore-1.9.4-0.9.0
OptiFine_1.10.2_HD_U_D4 added.

No issue when Optifine is not loaded.

Crash Log:
http://pastebin.com/v65DUnAj

[2017-01-10 07:11] rubensworks commented on #38
Closing this in favor of #36

[2017-01-10 07:11] #38 closed, assigned to rubensworks

[2017-01-10 09:30] sp614x commented on #36
Looks like one of the core mods is incorectly patching the TextureAtlasSprite class.
There is a warning about FoamFixAPI, it may be the problem.
To isolate the problematic mod the crash has to be reproduced with only one core mod installed.

[2017-01-10 20:03] LovelyFlare commented on #36
Actually caused by Brandon's Core.

[2017-01-11 03:30] A-Vladimir commented on #36
FoamFixAPI, is not the problem you get the same crash report without it.

[2017-01-11 10:20] JohnMFSteel commented on #36
yeah this crash is definitely caused by cyclopes core and I hope a fix comes soon cause I love using optifine

[2017-01-11 10:24] rubensworks commented on #36
@Johnvista64 It's likely to be one of the coremods you're using. Try adding _only_ CyclopsCore and Optifine to an environment and let me know if it still crashes.

[2017-01-11 11:46] toaran commented on #36
@rubensworks
i had the same issue
i testet only CyclopsCore  with Optifine and it works fine... i will try the other core mods from SF3 now...

[2017-01-11 13:04] toaran commented on #36
hmpf it was the last coremod i tried... Surge
with only surge and optifine  as mods it also crashes...

disable Surge and SF3 loads...

[2017-01-11 13:13] rubensworks commented on #36
@toaran Could you report that to the Surge issue tracker and link to that issue from here?
Thanks for testing this.

[2017-01-11 13:56] toaran commented on #36
someone else already had the same issue

https://github.com/Epoxide-Software/Surge/issues/9

[2017-01-11 13:58] #36 closed, assigned to rubensworks

[2017-01-11 15:19] JohnMFSteel commented on #36
@rubensworks just had to go and make this complicated couldnt take the blame I have firmly ruled out all mods that errored during the crash... which makes this issue all the more complicated. That said @rubensworks is off the hook as the person that has an issue to fix. As for why your mod gave off the exception on the crash I do not know, if you could shine some light on that. That would be great

[2017-01-11 15:22] rubensworks commented on #36
@Johnvista64 The reason why I think it crashes when loading CyclopsCore is because CyclopsCore appears to be the first mod loading the `TextureAtlasSprite` class, which has apparently been corrupted by the combination of Surge and Optifine.

[2017-01-11 18:53] WenXin20 opened #39 "NPE w/ Youtubers+ Mod"
Cyclops Core v0.9.0
Everlasting Abilities v1.2.4
Youtubers+ v1.10.4
Forge 2022
I get this crash while loading a new world.
[Crash Log](http://pastebin.com/RuKJKcZd)

[2017-01-11 20:13] rubensworks commented on #35
@Darkosto The [latest dev build](https://dl.bintray.com/cyclopsmc/dev/org/cyclops/cyclopscore/CyclopsCore/1.9.4-0.9.0-469/CyclopsCore-1.9.4-0.9.0-469.jar) reduces the overhead of the `CapabilityConstructorRegistry`, which should remove constant server lag in RS networks.
I tested this in a dev environment with only RS and CyclopsCore loaded, could you have a look to see if this has any positive im

[2017-01-11 21:28] rubensworks commented on #39
@WenXin20 Could you report this to the mod author of the Youtubers mod? This looks like an error on their end while writing capabilities to NBT.

[2017-01-12 00:27] WenXin20 commented on #39
Sure, it's reported [here](https://minecraft.curseforge.com/projects/youtubers-mod) on their curseforge page in the chat.

[2017-01-12 14:57] Darkosto commented on #35
So far so good, I ran it on a server last night. I'm going to keep messing with it and see how well it does :) Thank you!

[2017-01-12 18:33] rubensworks commented on #35
I've identified an unused capability that produced unecessary overhead in the `CapabilityConstructorRegistry `, which will be removed in the next CommonCapabilities update: CyclopsMC/CommonCapabilities@877de02ca7e42d3e760eb80b2eb705324d012fe6

[2017-01-19 20:28] rubensworks opened #40 "Be careful with needless sendUpdate calls in tiles"
As mentioned in CyclopsMC/IntegratedDynamics#117, calling `CyclopsTileEntity#sendUpdate` will cause chunk updates.
Preferably, a simple `markDirty` must be used if the client does not require the new tile state immediately.

Mods to check:
* [ ] Colossal Chests
* [ ] EvilCraft
* [ ] Integrated Dynamics

[2017-01-20 19:09] rubensworks commented on #39
I'm closing this issue, as it's clearly being caused by the Youtubers mod.

@WenXin20 If the mod author ever answers to your comment and needs any help, be sure to let me know here.

[2017-01-20 19:09] #39 closed, assigned to rubensworks

[2017-01-21 05:20] WenXin20 commented on #39
Alright, thanks. No reply to it yet though.

[2017-01-22 14:50] rubensworks commented on #35
CyclopsCore 0.9.1 has been released, which contains performance improvements related to this issue.
In case further performance problems would arise related to this, please let me know here.

[2017-01-22 14:50] #35 closed, assigned to rubensworks

[2017-01-25 01:26] kreezxil opened #41 "1.11.2-0.9.1 crashes client on startup"
http://pastebin.com/AHuKacFE

[2017-01-25 07:59] rubensworks commented on #41
@kreezxil This seems to be caused by the following error: `Caused by: java.io.FileNotFoundException: G:\Documents\Curse\Minecraft\Instances\morpheus!! (The system cannot find the file specified)`.
Perhaps the `!!` in your instance name is causing the issue?

[2017-01-29 13:11] rubensworks commented on #27
Closing this because of non-reproducibility.

[2017-01-29 13:11] #27 closed, assigned to nobody

[2017-02-01 23:40] Time6628 opened #42 "CyclopsCore causing lag with RFTools crafter"
Not quite sure what it is, but this occurs a lot with RFTools crafters(Tier 3s mostly).

Here's a warmroast of the problem:
![alt-text](http://i.imgur.com/nS4IMbv.png "WarmRoast")

Not quite sure what you guys everytime an item stack loads, but it is causing quite a problem.

ModPack: Sky Factory 3

[2017-02-02 07:25] rubensworks commented on #42
What version of CyclopsCore and CommonCapabilities are you using? Because this should be fixed in the latest versions.

[2017-02-02 11:29] Time6628 commented on #42
CyclopsCore-1.9.4-0.9.0-469
CommonCapabilities-1.9.4-1.2.2

[2017-02-02 11:31] rubensworks commented on #42
Yep, those are not the latest versions. Either wait for SF3 to update, or update it yourself.

[2017-02-02 11:31] #42 closed, assigned to nobody

[2017-02-26 08:29] #41 closed, assigned to nobody

[2017-03-16 04:40] codewarrior0 commented on #40
IntegratedDynamics Energy tunnels seem to have this problem. An Energy Exporter was responsible for 10 updates per second.

[code]

Upon closer inspection, it seems to be related to the capacitor that the Exporter is on being at full charge with constant power use.

[2017-03-16 08:00] rubensworks commented on #40
@codewarrior0 Any more details on this? What exporter aspect where you using? And with what kind of variable?

[2017-03-16 11:40] Yoghurt4C commented on #40
This was the setup. Both the importer and exporter only have a "true" boolean in them.
For some reason this doesn't produce excessive chunk updates in SSP?
![2017-03-16_14 34 32](https://cloud.githubusercontent.com/assets/11313954/23994385/ca6437e2-0a55-11e7-800e-86b4913678b5.png)

[2017-03-16 18:01] codewarrior0 commented on #40
We're using your EnergySynergy so the power source was an IC2 Kinetic Generator. We also had a RefinedStorage Controller drawing constant power from the capacitor. I think the constant power draw was key because we actually had two of the above setups with different IC2 generators, and only the one with power draw was causing chunk updates.

[2017-03-16 18:30] rubensworks commented on #40
@codewarrior0 Do you have a specific reason to think why the exporter was causing the block updates. Because the energy battery in that setup could also be the cause of it, since that block will change blockstates at each 1/3 energy fill step.

[2017-03-16 18:40] codewarrior0 commented on #40
Yep. Used `/csampler renderupdates show` to get red highlights on the blocks causing updates. The block with the exporter was solid red, while the battery was only red periodically.

[2017-03-16 18:43] rubensworks commented on #40
@codewarrior0 Ok, thanks! I'll try to look into it soon.

[2017-04-03 19:19] Tahakk opened #44 "[1.10.2] Crash after updating on CyclopsCore-1.9.4-0.10.0"
Hi there,
I have a small server for few players and I'm trying to keep all mods weekly updated.
Lately after every update I was getting crash while starting up a client. Figured out it is happening when I update CyclopsCore-1.9.4-0.9.3 to CyclopsCore-1.9.4-0.10.0. Same thing happening on server.

Function version at:
**CyclopsCore-1.9.4-0.9.3**
**forge-12.18.3.2254**

Stops working at:
**CyclopsCo

[2017-04-04 01:03] rubensworks commented on #44
It seems highly unlikely that CC is causing this, the crash seems to be caused by something related to achievements.
Did you update any other mods? Perhaps a achievements-related mod is causing the crash.

[2017-04-04 05:13] Tahakk commented on #44
I updated everything that Curse (Twitch Client) offered me up to this date.

[2017-04-04 05:34] rubensworks commented on #44
@Tahakk Well yes, that might include other mods as well.
I highly doubt it is caused by CC, but if you can reproduce it by _only_ updating this mod, let me know here.

[2017-04-04 05:34] #44 closed, assigned to nobody

[2017-04-04 06:32] Tahakk commented on #44
I updated my mods repository that I'm keeping for easy update for other players.

[GitHub Repo](https://github.com/SimonSkapik/mods/)

You can try it yourself.

Thanks for your help.

[2017-04-07 15:02] vrork opened #45 "Crash on launch"
It looks like there is a problem with your mod and IC 2 2.6.193-ex110

https://gist.github.com/vrork/276c90453af0b3c2cd6641f5f0f70988

[2017-04-07 15:18] rubensworks commented on #45
Thanks for reporting, but this is a duplicate of CyclopsMC/CommonCapabilities#5

[2017-04-07 15:18] #45 closed, assigned to nobody

[2017-04-12 15:05] Ash-Nuke opened #46 "Crashing Issue"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  literalascension (literalascension-1.10.2-1.0.1.1.jar)
  Brandon's Core (BrandonsCore-1.10.2-2.1.4.92-universal.jar)
  BookshelfLoadingPlugin (Bookshelf-1.10.2-1.4.3.340.jar)
  ShetiPhian-ASM (shetiphiancore-1.10.0-3.3.7.jar)
  SurgeLoadingPlugin (Surge-1.10.2-1.1.0.68.jar)
  SFRCore (SolarFluxReborn_1.10.2-2.6r.jar)
  ForgelinPlug

[2017-04-12 21:18] rubensworks commented on #46
Are you using the latest versions of both Integrated Dynamics and Cyclops Core?

[2017-04-12 21:23] Ash-Nuke commented on #46
No, I'm using the modpacks version I can update both to the latest version and see if it works
thanks

[2017-04-19 15:38] FnordMan opened #47 "Crash w/ Industrialcraft 2"
Crashes with both release 188 (latest on curse) and 200. (latest from jenkins) Doesn't crash with release 144. (previous release before 188 on curse)
attached crash report below.

[crash-2017-04-19_10.32.20-client.txt](https://github.com/CyclopsMC/CyclopsCore/files/935736/crash-2017-04-19_10.32.20-client.txt)

[2017-04-20 05:01] rubensworks commented on #47
Duplicate of CyclopsMC/CommonCapabilities#5

[2017-04-20 05:01] #47 closed, assigned to nobody

[2017-04-22 14:02] rubensworks commented on #46
It's because of a version mismatch between CyclopsCore and Integrated Dynamics. Update ID to the latest version and it will work.

[2017-04-22 14:02] #46 closed, assigned to rubensworks

[2017-04-23 01:31] phrostt opened #48 "Crash with the latest version of IC2"
IC2 version .188 crashes on startup, here is the crash log.
https://pastebin.com/YtqTJ3hR

[2017-04-23 05:17] rubensworks commented on #48
Duplicate of CyclopsMC/CommonCapabilities#5, will be fixed in next update.

[2017-04-23 05:17] #48 closed, assigned to nobody

[2017-04-25 17:46] Seth0067 opened #49 "Server crash with CyclopsCore-1.9.4-0.10.1"
Here's a pastebin :  [https://pastebin.com/KreAU8iX](https://pastebin.com/KreAU8iX)

[2017-04-25 17:49] rubensworks commented on #49
Thanks, I'll look into it right away.

[2017-04-25 17:55] #49 closed, assigned to rubensworks

[2017-04-26 19:02] NielsPilgaard opened #50 "Message during loading"
Hey! :)

Every time I launch my server, I get the same message from CyclopsCore, saying my config file is old, and should be deleted in order to regenerate - I've now done that a few times, so the message seems persistent.

[2017-04-26 19:30] rubensworks commented on #50
Do you mean that you are getting the warning every time after deleting the config file, _while_ using the same CyclopsCore version?

[2017-04-26 22:51] NielsPilgaard commented on #50
Yep, exactly, forgot to mention that ^^' Thanks!

[2017-05-05 17:10] #50 closed, assigned to rubensworks

[2017-06-14 21:38] purestone9 opened #52 "Crash when i try to open my Simple Storage Network."
Before the Cyclopse Core 1.11.2-0.10.5 was updated to there was no crash when i try to acess the colossal chest with Simple Storage Network.
Im playing in the Colonial Expansion Mod Pack.
Playing on a Server. Crashes Client.
Betewn the mods Cyclopes Core was the only of the mods to be updated.
[crash-2017-06-14_15.32.27-client.txt](https://github.com/CyclopsMC/CyclopsCore/files/1075984/crash-2017-

[2017-06-14 22:11] #52 closed, assigned to nobody

[2017-06-28 02:33] Zarepheth opened #53 "Forge's new registry system is complaining about Cyclops Core and crashing the game."
As the title says, the newer versions of Forge are breaking Cyclops Core.

Minecraft: 1.12
Forge: 14.21.02379
Cyclops Core: 0.10.6

[code]

[code]
[Log File on paste.ee](https://paste.ee/p/rTBHJ)

[2017-06-28 04:00] carstorm commented on #53
Can confirm this is also happening to me, believe its the same base issue:

Minecraft: 1.12
Forge: 14.21.02375
Cyclops Core: 0.10.6

pastebin: https://pastebin.com/TrbucE2x

[2017-06-28 06:14] rubensworks commented on #53
Once a RB for Forge 1.12 has been released I will release new updates. The Forge API is a bit unstable atm.

[2017-06-28 16:09] kreezxil opened #54 "1.12-0.10.6 crashes dedicated server Forge 1.12 build 2382"
Notes:
     on startup

crash report:
https://gist.github.com/6ed7c15d9becc2b8fc86c174d736d7c8

fml server latest:
https://gist.github.com/0ab5e8d877f6ab3b85ed9b8190b32d01

possibly related: #53

[2017-06-29 06:53] rubensworks commented on #54
Yes, indeed duplicate of #53

[2017-06-29 06:53] #54 closed, assigned to nobody

[2017-06-29 11:22] 0dikpah opened #55 "Crash on startup"
Minecraft 1.2
Forge-1.12-14.21.1.2387
[crash-2017-06-29_13.17.27-client.txt](https://github.com/CyclopsMC/CyclopsCore/files/1111810/crash-2017-06-29_13.17.27-client.txt)

[2017-06-29 11:23] rubensworks commented on #55
Please always check existing issues before reporting, duplicate of #53.

[2017-06-29 11:23] #55 closed, assigned to nobody

[2017-06-29 19:09] rubensworks commented on #53
Fixed in b6a7a9666b141537904ff8dc3325f31a7f9848f6, new 0.10.7 release is incoming.

[2017-06-29 19:09] #53 closed, assigned to rubensworks

[2017-07-15 20:36] sharkck opened #56 "Conflict with MalisisDoors"
Just wanted to post this here to help come to a resolution to fix the problem.
There seems to be a texture bug that's conflicting with MalisisDoors somehow.
https://github.com/Ordinastie/MalisisDoors/issues/160

[2017-07-16 15:17] rubensworks commented on #56
Thanks, will follow up on the referenced issue.

[2017-07-17 09:10] Migmag789 opened #57 "(1.12) Poof! crashes."
Hi ! My modpack crash with your mod and some other mods (i'm going to advert other mods authors)
[crash-2017-07-17_11.03.47-client.txt](https://github.com/CyclopsMC/CyclopsCore/files/1152048/crash-2017-07-17_11.03.47-client.txt)
Thank you !

[2017-07-17 09:11] rubensworks commented on #57
Duplicate of #56

[2017-07-17 09:11] #57 closed, assigned to nobody

[2017-07-27 07:02] cursinorock opened #58 "Crash with 1.11.2 Equal objects must have equal hashcodes"
Crash on custom modpack.
last version of forge *.2425
[crash-2017-07-27_02.15.40-client.txt](https://github.com/CyclopsMC/CyclopsCore/files/1179097/crash-2017-07-27_02.15.40-client.txt)

[2017-07-27 07:12] rubensworks commented on #58
This seems to be related to the DarkOre pulverizer registration from EvilCraft: https://github.com/CyclopsMC/EvilCraft-Compat/blob/master-1.11/src/main/java/org/cyclops/evilcraftcompat/modcompat/thermalexpansion/ThermalExpansionModCompat.java#L63
But as far as I can see, there should be no reason why EC's DarkOre block hashcode should change over time.
@cursinorock Can you report this to the Therm

[2017-07-27 07:37] Tahakk commented on #58
https://github.com/CoFH/Feedback/issues/428

[2017-07-27 15:26] rubensworks commented on #58
@cursinorock Just tried loading up EvilCraft and Thermal Expansion (+ lib mods) and I couldn't reproduce this issue.
So another mod must be causing this, possibly by registering to the oredict in the PostInit phase.

You can try removing mods until it doesn't crash for detecting the cause.

[2017-07-27 15:26] #58 closed, assigned to rubensworks

[2017-07-30 05:06] Lothrazar opened #59 "NPE when searching the word "fluid" in JEI"
Might be fault of JEI, not sure exactly.

https://pastebin.com/sSgL8ACR

java.lang.NullPointerException: Rendering ingredient
	at org.cyclops.cyclopscore.client.model.DynamicBaseModel.addColoredBakedQuad(DynamicBaseModel.java:145)
	at org.cyclops.fluidconverters.client.model.ModelFluidConverter.getGeneralQuads(ModelFluidConverter.java:85)
	at org.cyclops.cyclopscore.client.model.DynamicItemAndBloc

[2017-07-30 08:11] rubensworks commented on #59
Looks like a Fluid Converters crash, perhaps an invalid Fluid registration, will have to add some additional checks for that.

[2017-07-30 10:06] #59 closed, assigned to rubensworks

[2017-08-03 09:20] #56 closed, assigned to nobody

[2017-08-13 05:57] lmartos opened #60 "Inconsistency in indexed inventories"
Hello, we're playing with the 1.12 version of this mod and every time someone moves an item between an inventory, be it a chest, an ME system or any other inventory this specific error pops up in the server console and laggs out the server momentarily.

[Cyclops Core]: Indexed inventory at inconsistent with last empty 728 and last non-empty 728.

[2017-08-13 15:07] rubensworks commented on #60
That warning is only thrown when something goes wrong inside a Colossal Chest, which must be a bug indeed. Nothing else happens other than printing the warning, as can be seen here: https://github.com/CyclopsMC/CyclopsCore/blob/cbb8b80909a33a60e257f1a4c9951d92d53ce8cc/src/main/java/org/cyclops/cyclopscore/inventory/IndexedInventory.java#L162-L165
So this is unlikely to be the cause of your lag.

[2017-08-25 19:46] darkcloud784 opened #61 "Seems to be an issue with the 1.12 release."
From the console:

Full crash report:

[2017-08-25 19:48] rubensworks commented on #61
Could you post the complete log?
The most important part seems to be missing from this excerpt.

[2017-08-25 19:48] darkcloud784 commented on #61
@rubensworks I just updated with the full crash report info.

[2017-08-25 19:49] rubensworks commented on #61
Yeah, I'll need the full forge log, I'll need to see the part below `Caused by: java.lang.NullPointerException`.

[2017-08-25 19:56] darkcloud784 commented on #61
@rubensworks
Here is the fml-server-latest.log:

Here is the latest.log:

Here is the fml-junk-earlystartup.log:

[2017-08-26 00:44] darkcloud784 commented on #61
@rubensworks Let me know if there is anything else I need to provide in order to resolve this bug/issue.

[2017-08-26 06:54] rubensworks commented on #61
Not sure what is going wrong here.

This part:
[code]
makes me thing that CC is not the cause of the problem, but that something else must be going horribly wrong.
Can you try to reproduce with just this mod (and its dependents) installed?

[2017-08-26 07:19] darkcloud784 commented on #61
@rubensworks
I can indeed reproduce it with just CC and its dependencies.

Earlystartupjunk.log

[2017-08-26 08:14] rubensworks commented on #61
This doesn't make any sense...

What if you remove CC and its dependents?
And what if you add any other mods (without CC)?

[2017-08-27 16:49] darkcloud784 commented on #61
@rubensworks I think I figured out the issue, wasn't with CC, was very weird. One of the Ubuntu packages that were installed was causing some weird java issues.... Never seen that before.

[2017-08-27 16:49] #61 closed, assigned to rubensworks

[2017-08-27 16:50] rubensworks commented on #61
I thought it would be something external, I'm glad you've managed to fix it.

[2017-08-29 06:17] Nexusdog opened #62 "FYI/1.12 15 update required nag"
This is the nag message I get in MC even though CC is up to date

https://i.gyazo.com/bff43f7122c74e875b33ce2933899d3f.png

Obviously its not affecting the game afaik, but thought you'd want the heads up.

[2017-08-29 06:26] rubensworks commented on #62
Yeah, I should update the version tracker.
(The curseforge API was down last time I tried to do it...)

[2017-08-30 15:26] rubensworks commented on #62
Done https://github.com/CyclopsMC/Versions/commit/4e8c4d465b8b0e62f6ad427f190667003c948244

[2017-08-30 15:26] #62 closed, assigned to rubensworks

[2017-09-01 17:54] Protheus opened #63 "[1.12] - CyclopsCore-1.12-0.10.16 missing on Curseforge"
![image](https://user-images.githubusercontent.com/1455178/29981690-fbc6afee-8f4e-11e7-8e25-afb89ef104f2.png)

There is no **CyclopsCore-1.12-0.10.16.jar**  on Curseforge

![image](https://user-images.githubusercontent.com/1455178/29981715-17548ec0-8f4f-11e7-978a-5175a3636173.png)

[2017-09-01 17:56] rubensworks commented on #63
It's on CF, just awaiting approval (for two hours already). Let's hope they approve it soon...

[2017-09-01 17:56] #63 closed, assigned to nobody

[2017-09-01 18:22] Protheus commented on #63
Cool

[2017-09-04 15:27] josephcsible opened #68 "Make breaking changes to the type system"
There's a lot of work (#67 and some stuff I haven't written yet) that needs to be done to the type system, but is a breaking change for any mod that uses this one. Once Forge for 1.13 comes out, we should make these changes since 1.13 is going to break everything anyway.

[2017-09-09 07:19] rubensworks opened #70 "Version Checker don't notify if higher"
If version x+1 is installed, it should not notify if version x is the so-called latest.

[2017-09-11 17:37] #70 closed, assigned to rubensworks

[2017-09-12 02:37] josephcsible opened #72 "Update Minecraft and Forge"
I noticed that this (and the rest of your mods) are all still building against Minecraft 1.12 and an old version of Forge. Can we bump this up to 1.12.1 and the newest version of Forge, since everything works there anyway? (If so, I can make the PR's if you want.)

[2017-09-13 05:32] rubensworks commented on #72
I waited because Forge didn't have a recommended 1.12.1 release yet (now it does though).
But I would wait for 1.12.2, as Mojang announced that they would release it this week, and Forge will probably follow pretty soon.

I always try to bump the Forge version on all cyclops mods at once for consistency during development. And as this requires a bit of work, I try not to do it too often.

So in a

[2017-09-13 05:32] #72 closed, assigned to nobody

[2017-09-13 20:46] josephcsible opened #73 "Release version 0.10.18"
Any recipes that try to use non-integral XP values (#71) will crash the game on startup with a NumberFormatException if that change isn't present. Can you release what's in git now as 0.10.18, so I can add it as a minimum version dependency and start using it?

EDIT: Or if the answer to the questions I asked in CyclopsMC/IntegratedDynamics#272 about making more classes here is "yes", would you rat

[2017-09-14 06:06] rubensworks commented on #73
I will try to release new CC, ID and EC tomorrow evening.
If you'd be able to create those new classes in CC, that'd be great, otherwise it will be for the next release.

In case you want to be able to use the latest CC version in your ID dev environment, you can do this with this: https://github.com/CyclopsMC/IntegratedDynamics/blob/master-1.12/gradle/forge.gradle#L11-L12

In any case, when I rel

[2017-09-14 06:06] #73 closed, assigned to nobody

[2017-09-14 12:57] josephcsible commented on #73
Sounds like a plan. I'll try to get those classes written tonight.

[2017-09-14 15:11] rubensworks commented on #60
Note to self: write some unit tests in `IndexedInventory` to see what may be going wrong.

[2017-09-15 02:02] josephcsible commented on #73
Yeah, there's no way those classes will be done. Just go ahead and release it with the one change.

[2017-09-15 16:53] rubensworks commented on #73
@josephcsible Fyi, I won't make it this evening to make a new release. I'll try again tomorrow, Sunday or Monday. So feel free to PR those new classes in if you have time.

(Btw, are you reachable via IRC, Discord or something else? Might be easier to communicate than via GitHub issues)

[2017-09-16 03:05] josephcsible commented on #73
How about Google Hangouts?

[2017-09-16 07:10] rubensworks commented on #73
That's a bit inconvenient for me, since they support XMPP anymore :(
But email might be easier then, my gmail account is the same as on github here, feel free to send me a mail.

[2017-09-23 11:05] #60 closed, assigned to rubensworks

[2017-09-29 01:40] sefldron opened #76 "Ctd on world load"
I'm not 100% sure but the newest versions of core crash for me. I'm doing some testing with disabling the update process right now and re running it. Loaded fine yesterday when I updated to 1.12.2 but I was online then.
   Calling a ticking error. I will pastebin the issue to you in a bit if nothing fixes it.

[2017-09-29 01:50] sefldron commented on #76
It is version checking i believe.
Forge versioning comparable version parser
To default artifact version
To org.cyclops.'core.init.modbaseversionable.needs update
To '.'.tracking.versions.ontick
Then a bunch of fml and Minecraft references to entities and such.
If you want to see let me know.
   Only happens when offline. Never did with 0.10.17 and back though.

[2017-09-29 08:21] rubensworks commented on #76
Please send me the crashlog, not much I can do without it.

[2017-09-29 08:22] sefldron commented on #76
Ok cool give me a few minutes to put it up.

[2017-09-29 08:30] sefldron commented on #76
https://pastebin.com/gRFZ27LD
  if you want me to i will do another run online to see if it loads correctly now that I am on my pc
i will also do a run offline without foamfix anarchy and use the lawful version or even without.
just let me know how i can help

[2017-09-29 08:33] #76 closed, assigned to rubensworks

[2017-09-29 08:33] rubensworks commented on #76
Thanks! Will be fixed in next update.

[2017-09-30 19:46] OrdinatorStouff opened #77 "High CPU time from capabilities of items in RefinedStorage system"
MC 1.12.2 (forge 2493)
CyclopsCore-1.12-0.10.19.jar

Seeing very high CPU usage from CyclopsCore Capabilities call traces. Initially it looked like RefinedStorage but as I kept drilling down, Cyclops' capabilities method was at the heart of it.

I'm not sure if this is a known thing or not and if anything can be done about it. I know the nature of having hundreds of thousands of items in a single

[2017-09-30 21:58] rubensworks commented on #77
This is weird, things are being called that should not be called (`ItemStack#damageItem` and `Item#getItemFromBlock`)...

What mods are you using that depend on CyclopsCore?

Assuming you are using CommonCapabilities, could you try disabling the wrench capability from the config file, and see if that reduces your tick time?

[2017-10-02 16:34] OrdinatorStouff commented on #77
Mods in the pack that depend on CyclopsCore:
- Colossal Chests
- Common Capabilities
- Integrated Dynamics
- Integrated Tunnels

I disabled wrench in CommonCapabilities. In the current snapshot I can not even find Cyclops methods in the call tree. HOWEVER at the time this sample was taken there were only 3 players online. TPS is still low but perhaps it is a specific player's RS system contents th

[2017-10-02 18:28] OrdinatorStouff commented on #77
Alright I have some more info. I took a 30-minute-long profiler sample. TPS during this time was between 5 and 10 (>150ms per tick). the aforementioned onItemStackLoad() is still profiling at about 15% of total CPU time over this entire 30 minute period.
![cyclopscore ver2](https://user-images.githubusercontent.com/6283913/31092916-d3034526-a764-11e7-8e3e-6e2009e3fccc.png)
[snapshot-1506968274014.

[2017-10-02 18:50] OrdinatorStouff commented on #77
Sorry for all the reply spam... BUT I noticed when I checked again that the wrench capability was set to `true` even though I changed it a couple days ago. I changed it without a restart planning it to go into effect next scheduled start but I guess it [causes a crash on startup if set to false](https://github.com/CyclopsMC/CommonCapabilities/issues/11) and was reverted by another server admin tha

[2017-10-02 21:28] rubensworks commented on #77
Will look into it.

[2017-10-04 16:15] duckeggpie opened #78 "Possible problem player can't join server."
Hi, was suggested on MC forum that I post this here. We are getting an issue where one player's game is crashing every time he tries to join the server. He will show up in game for a second then crash out. He is the only one out of 6 of us having issues and I'm stuck. We are all running the same mod versions too. Thanks in advance.

at org.cyclops.cyclopscore.init.ModBaseVersionable.needsUpdate(Mo

[2017-10-04 21:39] rubensworks commented on #78
Duplicate of #76, will be fixed in next release.

[2017-10-04 21:39] #78 closed, assigned to nobody

[2017-10-05 20:35] ImAK9 opened #79 "(1.12.2 crash) Cyclopscore calling getStateFromMeta(32676) calling on TF Block"
https://pastebin.com/iTGeJTSD

[2017-10-05 21:53] rubensworks commented on #79
Moved to CyclopsMC/EvilCraft#597

[2017-10-05 21:53] #79 closed, assigned to nobody

[2017-10-10 16:54] Y0ungSandwich opened #80 "Crash with CoFH Mods."
I am getting this crash with Thermal Dynamics:
https://pastebin.com/VZaq1ujB

All mods involved are latest versions.
CyclopsCore-1.12-0.10.20
IntegratedDynamics-1.12-0.9.2

Not sure if this is more Cyclops mods or CoFH.

[2017-10-10 23:02] rubensworks commented on #80
It looks like TD iterates over items _before_ capabilities have been registered.
This is not a mistake by them, just something I haven't taken into account, will look into it, thanks for reporting.

[2017-10-10 23:18] Y0ungSandwich commented on #80
Great thank you for your time!  Always glad to help.

[2017-10-11 08:56] #80 closed, assigned to rubensworks

[2017-10-26 22:17] LemADEC opened #82 "NETTY leak detected"
As of CyclopsCore-1.12-0.10.21.jar, FTB Horizons 1.0.0, with forge-1.12.2-14.23.0.2515-universal.jar, NETTY is reporting a resource leak when a player connects to the server.
Enabling advanced lead detection with "-Dio.netty.leakDetection.level=advanced" provides the below logs which refers to cyclopscore:
[code]

[2017-10-26 22:51] rubensworks commented on #82
Is this leak being logged in the regular Forge logs as well? Or only when enabling that option?

[2017-10-27 00:06] LemADEC commented on #82
It's not showing in the files, but it does show on console.
There was initially just a couple lines before I enable the option.

[2017-10-27 00:08] rubensworks commented on #82
Ok, thanks for noticing and letting me know, this leak has probably existed for a while...

[2017-10-29 07:02] #82 closed, assigned to rubensworks

[2017-10-29 10:58] #77 closed, assigned to rubensworks

[2017-10-29 10:59] rubensworks commented on #77
Sorry for the delay, I finally got around to fixing this. The problem in this case must have been that an RS network for some reason contained empty itemstacks. This won't cause a performance issue anymore in CC.

[2017-10-31 12:41] Nexusdog opened #84 "MC reporting CyclopsCore-1.12.2-0.10.22.jar being available as a 1.12 file"
As title

[2017-10-31 12:45] rubensworks commented on #84
Please clarify, I don't know what the problem is.

[2017-10-31 14:29] trogarus opened #85 "Netty leak fix posted"
I am sorry to say, but I don't think you've totally managed this in the latest update. I can sit with game open and task manager and still see memory continually creep up little by little. The only thing I have cyclic in the world are miners, 4 of them.

[2017-10-31 16:06] trogarus commented on #85
Confirmed. Removed 6 cyclic miners (forgot about the two at spawn) used to mine futurepack crystals and memory creep is gone. Sorry, but doesn't seem you have the leak quite completely fixed. Crystals are still growing on the sand, so it's not the crystals or the futurepack sand.

[2017-10-31 22:47] rubensworks commented on #85
What does cyclic miners have to do with this mod?

[2017-11-01 01:10] Nexusdog commented on #84
The mod update notification jobbie, with the flashing emerald icon, that fella.

![](https://i.gyazo.com/11fccc56eff71d9cf987ed8a40383f49.png)
](url)

[2017-11-01 01:57] rubensworks commented on #84
That's intended. Our update tracker is scoped by minor MC version (1.12.x). You can either update, ignore it, or disable our version checker in the config.

[2017-11-01 01:57] #84 closed, assigned to nobody

[2017-11-01 12:42] trogarus commented on #85
It's a core mod for Cyclic?

On Tue, Oct 31, 2017 at 6:47 PM, Ruben Taelman <notifications@github.com>
wrote:

[2017-11-01 21:32] ZephaniahNoah opened #86 "Crash breaking Integrated Dynamics battery"
I don't know where I should report this but it says CyclopsTileEntity in the crash report. I connected an Energy Battery to some CoFH leadstone flux duct, realized that they can't pull energy from it, and broke it. The game immediately crashed.
[crash-2017-11-01_13.43.55-client.txt](https://github.com/CyclopsMC/CyclopsCore/files/1435737/crash-2017-11-01_13.43.55-client.txt)
Also I have a question

[2017-11-01 22:14] StaticPH commented on #85
It shouldn't be though? At least not according to curseforge

[2017-11-01 22:23] rubensworks commented on #85
@trogarus No.

[2017-11-01 22:24] #85 closed, assigned to nobody

[2017-11-01 22:26] rubensworks commented on #86
Ah, that rendering bug before blocks are loaded again...

You *should* be able to pull from batteries though. Which ones specifically do not work?

[2017-11-02 03:24] ZephaniahNoah commented on #86
I tried both Hardened and Leadstone Fluxducts as well as Basic Universal Cable from Mekanism.

[2017-11-03 14:20] DeadSix27 commented on #86
@rubensworks Same issue when setting stuff to "0"(air) with world edit:
https://gist.github.com/DeadSix27/53a1d18dae6a695d3ec68de6dd1da637

[2017-11-05 18:33] josephcsible opened #89 "Our Maven sources contain SRG names"
When viewing the source of a CyclopsCore method from Eclipse in another project, they contain SRG names instead of MCP names. (This actually appears to be the case for all of the Cyclops mods.) For example, if you open IntegratedDynamics-Compat and look at org.cyclops.cyclopscore.item.ItemBlockMetadata, the addInformation function will be called func_77624_a. I know this is an issue with us specif

[2017-11-05 18:52] Divineaspect opened #90 "Crash on get fluid icons? for 1.10.2"
https://pastebin.com/KbEZVrEa

[2017-11-05 22:35] rubensworks commented on #89
Someting to look into. Perhaps the source jar is created too late.

Are you sure you're checking the RFTools sources? And not just the decompiled JAR?

[2017-11-05 22:38] rubensworks commented on #90
Somehow, you have inserted a `null` Fluid inside a FluidStack (inside the chalice). Any idea how this might have happened?

[2017-11-05 23:33] Divineaspect commented on #90
not sure, we're presently using them to transport evilcraft blood and ender io liquid xp

[2017-11-06 00:00] josephcsible commented on #89
Yes, it includes the comments.

[2017-11-08 10:11] rubensworks commented on #86
Fixed in https://github.com/CyclopsMC/IntegratedDynamics/commit/76fd28817fe09b2731744c104caac085e6be42c4

[2017-11-08 10:11] #86 closed, assigned to nobody

[2017-11-10 23:45] rubensworks commented on #89
Just spent some time trying to resolve this, without any luck.
Tried the following:
* Changing the order of artifacts
* Disabling signing
* Disabling javadoc

Something must be changing the sourceJar task, or moving it to a point in the execution where the code has already been obfuscated.

This needs some further investigation.

[2017-11-13 10:26] #90 closed, assigned to nobody

[2017-11-22 15:35] loordgek opened #95 "switch Map Pair to Table"
https://github.com/loordgek/CyclopsCore/commit/b6ab7a0fb40dc548d98032e0568ee9917c2df36a

it just looks cleaner
i dont know what the performance of it is did not test it
feel free to take it

[2017-11-22 15:43] loordgek opened #96 "i am rewriting the forge IItemHandler"
i am rewriting the forge IItemHandler
https://github.com/loordgek/itemhandlerV2

the plan is to make it more flexible and better performance (looks at ColossalChests)
if you have questions/suggestions leave them
here https://github.com/MinecraftForge/MinecraftForge/issues/3344

[2017-11-22 19:14] josephcsible commented on #95
If you want us to pull that change, please submit an actual pull request instead of just linking a commit from an issue.

[2017-11-22 19:14] loordgek commented on #95
will do

[2017-11-23 09:07] rubensworks commented on #95
Sure, why not. Feel free to send a PR as @josephcsible has said.

[2017-11-23 09:12] rubensworks commented on #96
I'm subscribed to that issue already, so I see everything that is mentioned there.

But as other people have already mentioned, your proposal looks very complex, and contains methods that are not required, such as `calcRedStoneFromInventory`.

Also, the `Predicate` in your  method `extract(Range<Integer> slotRange, Predicate<ItemStack> filter, int amount, boolean simulate)` does not allow any opti

[2017-11-23 09:12] #96 closed, assigned to nobody

[2017-11-23 12:14] loordgek commented on #96
where is that not possible

i was thinking for CC that you keep a list<int> w/ the slots that contain stacks and itr over that
same for `calcRedStoneFromInventory`

[2017-11-23 12:28] rubensworks commented on #96
That's still `O(n)` when all slots are filled. So horrible performance for something like Colossal Chests.

[2017-11-23 12:34] loordgek commented on #96
will this work ?? https://github.com/BuildCraft/BuildCraftAPI/blob/8.0.x/api/buildcraft/api/core/IStackFilter.java

[2017-11-23 14:14] loordgek commented on #96
https://gist.github.com/loordgek/0722afa0fab90e47b0669353669edbb0 better ??

[2017-11-23 14:31] loordgek commented on #95
https://github.com/CyclopsMC/CyclopsCore/pull/98
 closing this

[2017-11-23 14:31] #95 closed, assigned to nobody

[2017-11-23 22:37] rubensworks commented on #96
You should probably continue this discussion on the Forge issue tracker, this is not really the place for it.

[2017-11-24 05:15] josephcsible commented on #89
Actually, I think that our Maven sources are supposed to include the SRG names, and they're just showing up when we look because of how we include them in Gradle. When I make this change to Integrated Dynamics, the problem goes away:
[code]
Does making that change everywhere seem like a good way to fix this?

[2017-11-24 08:49] rubensworks opened #99 "Test issue"
This is just a test issue, that doesn't have enough information.

[2017-11-24 09:47] #99 closed, assigned to nobody

[2017-11-24 20:16] josephcsible opened #100 "Unnecessary areItemStacksIdentical method"
https://github.com/CyclopsMC/CyclopsCore/blob/1840463803c53bc2166effe6781274e5ad597003/src/main/java/org/cyclops/cyclopscore/helper/ItemStackHelpers.java#L183-L191

What's the point of this, specifically everything after the `&&` on line 190? I see no case when `ItemStack.areItemStacksEqual` would return true but this method would return false.

[2017-11-24 23:37] rubensworks commented on #100
Either `ItemStack.areItemStacksEqual` used to not take into account stacksizes in the past, or I didn't check the implementation properly. Eitherway, the part after `&&` can indeed be removed.

[2017-11-24 23:37] josephcsible commented on #100
Can the entire method be deprecated for removal in 1.13?

[2017-11-25 00:00] rubensworks commented on #100
Yep, good idea.

[2017-11-25 00:09] #100 closed, assigned to nobody

[2017-11-25 00:26] josephcsible commented on #89
https://github.com/MinecraftForge/ForgeGradle/blob/FG_2.3/src/main/java/net/minecraftforge/gradle/user/UserBasePlugin.java#L214-L229 looks like as good of a place as any to start looking if you want to explore this further.

<blockquote><img src="https://avatars0.githubusercontent.com/u/1390178?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14

[2017-11-25 08:34] rubensworks commented on #89
Ok, so it's the intended functionality of FG. Not sure in what scenarios anyone would ever need an obfuscated source jar though...

So the options to advance I see are:
1. Request a change in FG to not obfuscate source jars
2. Make or own deobfSourceJar task.
3. Ignore this issue

2 is probably the best solution, but would also involve the most effort.

[2017-11-25 15:04] josephcsible commented on #89
The idea of the obfuscated source jar is that when you use it, it will get deobfuscated to whatever version of the MCP mappings that your project uses, rather than being stuck with the version that was used when the jar was built.

Perhaps we could add a setting to gradle.properties that lets you control whether or not my suggested fix is active. Then you (and anyone else using IDEA to code two mo

[2017-11-26 02:46] rubensworks commented on #89
I would think deobfuscation would happen on the main jar, but you may be right.

I'm not a fan of that option. It would still not resolve the problem when using a locally-built CC version, which would occur primarily during development.

[2017-11-26 02:48] josephcsible commented on #89
Can a locally-built CC version not just point at your actual source directory for the source in IDEA? Eclipse lets you set it up to do that.

[2017-11-26 02:51] rubensworks commented on #89
I have tried may things before, my current workflow is the most convenient one for me. In the past, this was not possible in IDEA, things might have changed by now, not sure.

[2018-02-04 04:25] Meskino opened #106 "Crash report regard with Betweenlands things...."
---- Minecraft Crash Report ----

WARNING: coremods are present:
  SCFMLCorePlugin (StalkerCreepers-1.12.1 (1).jar)
  TheBetweenlandsLoadingPlugin (TheBetweenlands-3.2.1-alpha-snapshot-universal.jar)
  HammerCoreCore (HammerCore-1.12.2-1.9.6.3.jar)
  Extra Alchemy ASM (extraalchemy-0.3.6-release.jar)
  llibrary (llibrary-1.7.9-1.12.2.jar)
  No More Glowing Pots (nomoreglowingpots-1.0.jar)
  TANLoa

[2018-02-04 04:28] josephcsible commented on #106
Why do you think this is related to CyclopsCore? This looks like it's completely a Betweenlands problem.

[2018-02-04 04:40] ChrissPz commented on #106
Sure?... the truth I don't understand too much of reports. well but I'll let you close this thread.

[2018-02-04 04:46] #106 closed, assigned to nobody

[2018-04-22 10:45] jezzen opened #109 "Blocks from several mods keeping NBT data"
#### Issue type:

- :bug: Bug
- :question: Question

____
#### Short description:
Some blocks from CapabilityProxy, ColosssalChests, EvilCraft, and Structured Crafting are keeping NBT data of their position and rotation when broken.

Proxies From CapabilityProxy
![image](https://user-images.githubusercontent.com/18730266/39094060-44adde00-466d-11e8-8b4d-1736b67e951f.png)

Uncolossal Chest (Chests

[2018-04-22 13:07] rubensworks commented on #109
Indeed, that's because of an abstraction in the CyclopsCore base tile entity.

Is this causing any issues for you?

[2018-04-22 14:29] josephcsible commented on #109
One problem that this causes is that it breaks the ability to do NBT filtering, since items that are the same for all intents and purposes have different NBT tags. Perhaps we could fix this the way McJty's mods do, with their split writeRestorableToNBT function.

[2018-04-22 14:54] jezzen commented on #109
The main issue is that it prevents such items from stacking. Even a simple shapeless crafting recipe to the same block would be enough to prevent having an inventory full of the crafters, etc. you just broke. Not sure how well that would work for the box of closure, but for now I just have a set of CraftTweaker scripts for it so I can keep them all my proxies and crafters in 1 stack.

[2018-04-22 17:44] rubensworks commented on #109
I guess there are indeed some possibilities.

[2018-05-02 06:22] GordonHollow opened #110 "Server crash when other mod interaction with block with evilcraft's blood on it"
#### Steps to reproduce the problem:

1. Break block with blood on it some unusual way (3x3 mining pickaxe from cyclic, spawn gorgomite from lycanitesmobs, or just flood this bliock with water)

____
#### Versions:

_Exact versions of the following mods, not just *latest*._

- CyclopsCore-1.12.2-0.11.5
- Minecraft 1.12.2
- 1.12.2-forge1.12.2-14.23.3.2668

#### Log file:

[code]
``

[2018-05-10 12:22] #110 closed, assigned to nobody

[2018-05-22 23:10] Jandakast opened #111 "Crash when placing Integraded Dynamic Variable Card into The Betweenlands Weedwood Crafting Table"
#### Issue type:

- :bug: Bug

____

#### Short description:
Crash when attempting to render the Variable Card from Integrated Dynamics in the Weedwood Crafting Bench from The Betwenlands.

Originally reported in SevTech Ages but can be reproduced with just The Betweenlands and Integrated Dynamics installed. DarkPacks/SevTech-Ages#2596

Was directed here from The Betweenlands dev.
https://github.c

[2018-05-27 12:52] belathus opened #112 "Client Crash when rendering fluids in entangled chalices"
#### Issue type:

- :bug: Bug

____

#### Short description:
I was sitting in my base looking up fuels in JEI when the screen turned a solid light-blue color. It paused for a while, then crashed. I restarted MC, and was able to join the server for a while, until it crashed again.

For reference, I have 2 pairs of entangled chalices being used, and they've been in use for more than a week now. One

[2018-06-03 13:25] rubensworks commented on #112
Fixed in https://github.com/CyclopsMC/EvilCraft/commit/5b7fd6df04227b99930715df5effdc095c99c17a

[2018-06-03 13:25] #112 closed, assigned to nobody

[2018-06-03 13:48] rubensworks commented on #111
Looks like this has been fixed in betweenlands already. Not something that was incorrect on our end.

[2018-06-03 13:48] #111 closed, assigned to nobody

[2018-07-16 06:18] rubensworks commented on #109
Same problem with EC blocks: https://github.com/CyclopsMC/CyclopsCore/issues/109

[2018-07-16 12:20] MentalMouse commented on #109
jezzen:  Perhaps you could put the CraftTweaker scripts here?

[2018-07-16 12:26] jezzen commented on #109
I don't have them on hand (deleted and reinstalled the pack), but the scripts were just addshapeless(item, item) or however the crafttweaker function goes. It's just trading in the said item for a new default one.

Looking back at the documentation it should be:
recipes.addShapeless(item,[item]);

[2018-07-16 12:36] MentalMouse commented on #109
Wouldn't that also strip things like the Box of Eternal Closure's contents?  I was thinking of rules that would preserve most of the item's data, stripping only the offending tags, or at least would preserve the tags that the items need to work.  Unfortunately, I can't seem to find the ModTweaker docs for handling NBT tags.

[2018-07-16 13:29] jezzen commented on #109
Yeah, that's why I only really did the crafters and proxies. I hadn't even gone far enough into Modern Skyblock to worry about EvilCraft.

Out of curiosity, I went through the documentation a bit and came up with this. Added the .txt to be able to upload the file, it just needs to be removed. You'll have to add in the appropriate items to the list and check the names of the nbt tags added and chan

[2018-07-16 23:05] MentalMouse commented on #109
Unfortunately, your links don't seem to work.  Whatever they've done to the CraftTweaker wiki, it (ETC) ~~doesn't~~ seems to want to show either its "tour-guide" sequence or a limited tree of topics. -- and any page that's not covered by the tree (like IIngredient) gets redirected to home.  I can't find any of the pages I remember that discussed NBT tag handling.

Somebody back there has forgotten

[2018-07-16 23:12] jezzen commented on #109
Strange, could be a cookies thing or something? Well, it's all in the menu on the left (button to bring it up to the left of the search bar in the top right)

Path to the ones I linked are:
Advanced Functions > Arrays and Loops
Vanilla > Items > IItemStack
Vanilla > Recipes > Crafting Table Recipes > Recipe Functions

![image](https://user-images.githubusercontent.com/18730266/42788190-64c03e28-89

[2018-07-17 01:03] MentalMouse commented on #109
Poking around, I found most of the info I need, and came up with the following:

https://pastebin.com/hM9xUGV1

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="right"><div>Pastebin</div><div><strong><a href="https://pastebin.com/hM9xUGV1">NBT-Clear.zs - Pastebin.com</a></strong></div></blockquote>

[2018-07-30 02:49] mezz opened #113 "CapabilityConstructorRegistry.onItemStackLoad seems slow"
#### Issue type:

- :snail: Performance issue

____

#### Short description:

#### Steps to reproduce the problem:

1. Sample startup of All The Mods 3 pack.
2. Observe about 14 seconds of loading time is spent in `CapabilityConstructorRegistry.onItemStackLoad`.

____

#### Versions:

- This mod: 0.11.6
- Minecraft: 1.12.2
- Forge: 14.23.4.2745
(note I had to update CoFHCore to 4.5.3.20 to use thi

[2018-07-30 06:30] rubensworks commented on #113
Thanks for reporting! I was already planning on looking into this soon, as we noticed an issue with this on FC as well.

According to cpw, the main performance issue is not the method itself, but its typed Forge event bus registration.

Note to self: deprecate `CapabilityConstructorRegistry.onItemStackLoad`, as it's not really needed anyways (I think).

[2018-07-31 03:22] mezz commented on #113
Hmm that's interesting. I didn't see anything in your code that seemed slow, so it makes sense that the generic event bus subscription is taking the time.
In general `Item#initCapabilities` is best, the event is good for attaching capabilities to other mod's items.

As a temporary solution, can move the `onItemStackLoad` subscription to a separate class, and only subscribe it to the event bus if s

[2018-07-31 06:05] rubensworks commented on #113
Yep, that's a good idea. Will look into it soon.

[2018-08-01 22:31] Davoleo opened #114 "Crash while entering a dimension"
#### Issue type:

- :bug: Bug

____

#### Short description:
This happened to me while I was returning to the overworld from another mod's dimension

#### Steps to reproduce the problem:

1. enter a custom mod dimension or vanilla dimensions

#### Expected behaviour:

I didn't expect a crash

____

#### Versions:

- This mod: 0.11.8
- Minecraft: 1.12.2
- Forge: 2745

#### Log file:

Crash report:

[2018-08-02 06:05] rubensworks commented on #114
Thanks for reporting, I'll look into it as soon as possible!

[2018-08-11 15:11] LemADEC opened #115 "Crash on start with UndergroundBiomes"
#### Issue type:

- :bug: Bug

____

#### Short description:

Crash on game start when adding Dark Gem ore to UndergroundBiomes

#### Steps to reproduce the problem:

1. add dark_ore to the underground biomes configuration:
[code]
2. start the game

#### Expected behaviour:

No crash
____

#### Versions:

- This mod: CyclopsCore-1.12.2-0.11.8.jar
- Minecraft: 1.12.2
- Forge: 14.23.4.2747
EvilCraft

[2018-08-12 06:52] rubensworks commented on #115
Can you report this to UndergroundBiomes? (And link back here)

It looks like they are doing non-intended things with Dark Ore.

[2018-08-12 17:52] LemADEC commented on #115
It's a bug in my configuration, it just happens the other mods are more tolerant with metadata = -1.

[2018-08-12 17:52] #115 closed, assigned to nobody

[2018-08-19 17:01] #114 closed, assigned to nobody

[2018-08-19 17:01] rubensworks commented on #113
CyclopsCore 0.11.9 contains a change that will only register cap inject listeners to the event bus when needed.

However, this unfortunately won't change anything in the majority of modpacks that include CyclopsCore. Because most of them also include CommonCapabilities, which injects 3 ItemStack capabilities into vanilla, so the listener is registered there in any case.

When I find some time, I m

[2018-08-20 14:47] LemADEC opened #116 "Slow access to configuration values"
#### Issue type:

- :snail: Performance issue

____

#### Short description:

Configuration values aren't cached, causing CPU load.
Also, it appears fields lookup also involved, which is naturally slow.

Consider caching configuration values.

#### Steps to reproduce the problem:

1. profiling a server with 20+ players online.

____

#### Versions:

- This mod: 1.12.2-0.11.8
- Minecraft: 1.12.2
-

[2018-08-20 14:52] rubensworks commented on #116
0.13% of your tick time is not very significant. There is likely to be a bunch of other stuff that can be optimized more significantly.

But nevertheless, I could indeed some caching to optimize this.

Relevant code: https://github.com/CyclopsMC/CyclopsCore/blob/master-1.12/src/main/java/org/cyclops/cyclopscore/config/ConfigHandler.java#L237

<blockquote><img src="https://avatars2.githubuserconten

[2018-08-20 15:00] LemADEC commented on #116
0.13 % for a disabled feature is a lot when comparing to 0.05 % for an enabled feature from other mods.
When you've 140 mods involved, small things are adding up quickly :).

Total contribution for this specific method is 0.24% splitted in 6 different locations.

[2018-08-20 15:03] rubensworks commented on #116
Sure, you're right. I'm just saying that there's a bunch of issues on my todo-list that cause a significantly larger performance problem, so I'd like to prioritize those :-)

But if you're up for it, PRs on this are welcomed! ;-)

[2018-09-09 19:10] HyperMan19680 opened #117 "Crash w/ Everlasting Abilities Ability Bottle GUI"
#### Issue type:

- :bug: Bug

____

#### Short description:

Crashed when I tried to open an ability bottle from Everlasting Abilities.

#### Steps to reproduce the problem:

1. Download the mod versions below.
2. Open an Ability Bottle.

#### Expected behaviour:
The GUI Should have opened up with no issues reported by VanillaFix.

____

#### Versions:

- This mod: 0.11.10
- Everlasting Abilities

[2018-09-10 06:21] rubensworks commented on #117
Can you reproduce it consistently?

Can you reproduce it without any other mods installed?

[2018-09-20 10:10] ZigTheHedge opened #118 "Materialized variables lose their values"
#### Issue type:

- :bug: Bug

____

#### Short description:

Constant variables discard its values.

#### Steps to reproduce the problem:

1. Set entity reader to read dropped item in front of it, set variable to read "Entity" with index 0.
2. Materialize variable to constant using Materializer, check to see it works fine.
3. Remove dropped item from reader scope.
4. Now constant variable reads "

[2018-09-20 10:11] ZigTheHedge commented on #118
Oops! Wrong issue tracker :)

[2018-09-20 10:11] #118 closed, assigned to nobody

[2018-09-24 06:41] #117 closed, assigned to nobody

[2018-10-29 16:53] rubensworks opened #119 "Fix SendPlayerCapabilitiesPacket NPE"
#### Issue type:

- :bug: Bug

____

#### Short description:

From OpenEye

____

#### Log file:

https://openeye.openmods.info/crashes/7de30e764c2495af3ada49f23e889d9c

[2018-10-29 16:54] rubensworks opened #120 "Invalid GUI data crash"
#### Issue type:

- :bug: Bug

____

#### Short description:

From OpenEye

____

#### Log file:

https://openeye.openmods.info/crashes/74144bde8426e2b2e3a752118b8ac311

[2018-10-30 16:17] #119 closed, assigned to nobody

[2018-10-30 16:17] #120 closed, assigned to nobody

[2018-11-02 11:09] rubensworks commented on #40
It looks like this issue was never added to my project board, so it got lost a bit...

Note to self: when working with GUIs, work as much as possible with `detectAndSendChanges` like with ID's mechanical machines.

[2018-12-01 13:52] hayesj1 opened #121 "Crash when looking at Endstone uses in JEI"
#### Issue type:
- :bug: Bug

____

#### Short description:
Game crashes when viewing uses of endstone in JEI. I posted this in (Chisel-Team/ConnectedTexturesMod)[https://github.com/Chisel-Team/ConnectedTexturesMod] because downgrading that mod fixed the issue, but they directed me over here.

#### Steps to reproduce the problem:
1. Press the hotkey to view of the uses of a block/item, while hover

[2018-12-02 19:27] josephcsible opened #122 "Remove sidedInventoryHandlers?"
https://github.com/CyclopsMC/CyclopsCore/blob/b92868af856101113b26206253cfa903aa50bae3/src/main/java/org/cyclops/cyclopscore/tileentity/InventoryTileEntityBase.java#L30-L34

There seems to be no code in any repository in the CyclopsMC organization that uses sidedInventoryHandlers for anything. Lines 30 and 34 above seem to be the only places it occurs at all. Any reason to not just remove it?

[2018-12-03 06:46] rubensworks commented on #122
Hmm, indeed, it looks like that can be removed. Probably some leftover code from a refactor at some point.

[2018-12-25 01:30] pau101 opened #123 "SendPlayerCapabilitiesPacket alters Capability API behavior, breaking consumer expectations and information exposure"
Hello,

I am the developer for the mod Wings and I recently received a [report](https://github.com/pau101/Wings/issues/15) of an Everlasting Abilities incompatibility. From looking into the issue I identified the culprit as the capability utilities provided by CyclopsCore. In particular [SendPlayerCapabilitiesPacket]( https://github.com/CyclopsMC/CyclopsCore/blob/215ab4e6d245a7cd85159f3131a2536559

[2018-12-26 08:32] rubensworks commented on #123
You're right, `SendPlayerCapabilitiesPacket` was originally supposed to be a temporary hack, but I never implemented a proper solution. I'll look into it.

[2019-01-16 13:32] Sunconure11 opened #126 "Strange crash"
#### Issue type:

- :bug: Bug

____

#### Short description:

A seemingly rare crash that fired out of nowhere.

#### Steps to reproduce the problem:

I legitimately don't know.

#### Expected behaviour:

Well, this to not fire.

____

#### Versions:

- This mod: 1.12.2-0.11.11
- Minecraft: 1.12.2
- Forge: 14.23.5.2807

#### Log file:

https://paste.dimdev.org/eceqatupoy.mccrash

[2019-01-20 15:07] rubensworks opened #127 "Create Web variant of Info Books"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

Currently, the EvilCraft and Integrated Dynamics books exist only in-game. It would be useful to have a Web-based variant of this as well. So let's create a generic framework for this.

[2019-01-27 14:14] #122 closed, assigned to nobody

[2019-01-27 14:43] rubensworks commented on #113
I have not received any more performance issues related to this. So the recent CyclopsCore and Forge(?) changes probably made things sufficiently performant.

[2019-01-27 14:43] #113 closed, assigned to nobody

[2019-01-27 14:44] rubensworks opened #128 "Update to latest Forge version and MCP mappings"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

All Cyclops mod should be updated to the latest MCP mappings, as we're running horribly behind. This will also make the 1.13 update a bit easier.

[2019-01-31 09:31] MadRatSRP opened #129 "Strange crash"
Here is the link: https://paste.dimdev.org/avawucefod.mccrash
CyclopsCore: CyclopsCore-1.12.2-1.0.2
EvilCraft: EvilCraft-1.12.2-0.10.67

[2019-01-31 09:33] rubensworks commented on #129
Update commoncapabilities

[2019-01-31 09:33] #129 closed, assigned to nobody

[2019-01-31 09:53] MadRatSRP commented on #129
Thanks.

[2019-02-09 08:25] Sunconure11 opened #130 "Might want to investigate LLibrary compat"
https://github.com/iLexiconn/LLibrary/issues/124

[2019-02-10 09:23] rubensworks commented on #130
@Sunconure11 Please provide more information. There's no indication how CC is related to your crash.

And _please_, use the issue template...

[2019-02-10 12:05] Sunconure11 commented on #130
Issue cleared itself up.

[2019-02-10 12:05] #130 closed, assigned to nobody

[2019-02-14 12:26] SirTwsted opened #131 "Cyclops NullPointException Error on Cyclops v1.0.3 with MC v1.12.2"
#### Issue type:

- :bug: Bug
Crash upon loading minecraft v1.12.2 with Cyclops v1.0.3
____

#### Short description:

#### Steps to reproduce the problem:

1. ...install Cyclops v1.0.3
2. ...load minecraft v1.12.2

#### Expected behaviour:

I expected the mod to work properly without crashing.
____

#### Versions:

- This mod: v1.0.3
- Minecraft: 1.12.2
- Forge: v14.23.5.2768

#### Log file:

http

[2019-02-14 12:28] rubensworks commented on #131
You have to update commoncapabilities to the latest version.

[2019-02-14 12:28] #131 closed, assigned to nobody

[2019-02-14 12:46] SirTwsted commented on #131
aah ok thank you.  I wish that info was on the Cyclops info page.
again, thank you and sorry for the hassles :)

[2019-02-14 13:04] SirTwsted commented on #131
Update 10 minutes later.  I upgraded commoncapabilities mod to the latest version for MC-v1.12.2
and I got this error back when loading MC --> https://hastebin.com/opodorazog.http
When upgrading from CyclopsCore-1.12.2-0.11.10.jar
which doesnt give me a problem, only the updated version does.

<blockquote><div><strong><a href="https://hastebin.com/opodorazog.http">hastebin</a></strong></div></bloc

[2019-02-14 13:06] rubensworks commented on #131
Same problem, you are using outdated mods, integrateddynamics in this case.

Please make sure you're using the latest version of mods before reporting stuff.

[2019-02-14 13:10] SirTwsted commented on #131
is there a list of all the mods that cyclops are associated with. so I can update all of them at the same time.?
This domino effect is killing me...lol

[2019-02-14 13:11] rubensworks commented on #131
https://minecraft.curseforge.com/projects/cyclops-core/relations/dependents?filter-related-dependents=3

<blockquote><img src="https://media.forgecdn.net/avatars/0/93/635227964539626926.png" width="48" align="right"><div><strong><a href="https://minecraft.curseforge.com/projects/cyclops-core/relations/dependents?filter-related-dependents=3">Related Dependents - Cyclops Core - Mods - Projects - Min

[2019-02-14 13:14] SirTwsted commented on #131
Thank you. Ive been away from Minecraft for a long while, because of work and studying.
so im trying to play catch up.  pls bare with me, Thank you for being very patient. :)

[2019-02-17 14:45] Notlucky101 opened #132 "Server Crash"
[06:38:31] [Server thread/ERROR] [FML]: Exception caught during firing event net.minecraftforge.event.RegistryEvent$Register@60062f45:
java.lang.NoClassDefFoundError: org/cyclops/cyclopscore/infobook/AdvancedButton$Enum
	at org.cyclops.integrateddynamics.infobook.pageelement.SqueezerRecipeAppendix.<clinit>(SqueezerRecipeAppendix.java:29) ~[SqueezerRecipeAppendix.class:?]
	at org.cyclops.integrated

[2019-02-17 15:28] rubensworks commented on #132
Update ID.

[2019-02-17 15:28] #132 closed, assigned to nobody

[2019-03-13 18:24] #123 closed, assigned to nobody

[2019-03-13 18:25] rubensworks commented on #123
This will be fixed in the next EA update.

[2019-03-13 18:43] #116 closed, assigned to nobody

[2019-03-13 18:44] rubensworks commented on #116
ID and EC will have to be updated as well when a new version is released for this change to have effect.

[2019-03-15 22:25] larskr96 opened #133 "🐛Making 1 item stuck in hand (1.12.2)"
Latest Cyclops core
When you shife Craft items it makes the 1 of the item stuck in Your hand its very annoying

[2019-03-16 08:13] rubensworks commented on #133
Please use the proper issue template, with detailed steps on what exactly you are doing/trying do to.

[2019-03-16 11:38] #133 closed, assigned to nobody

[2019-03-19 18:34] rubensworks commented on #128
Done in 5ea8f000ee898aa5d100d2608a192a6fc5e64025 and all Cyclops mods

[2019-03-19 18:34] #128 closed, assigned to nobody

[2019-03-20 01:41] raltus opened #134 "Crashing with latest build 1.12.2-1.1.0"
#### Issue type:

- :bug: Bug

____

#### Short description:
Latest build causes a error with EvilCraft.

#### Steps to reproduce the problem:

1. Load Minecraft with the latest Cyclops Core 1.12.2-1.1.0 and EvilCraft 1.12.2-0.10.70

#### Expected behaviour:
Everything loads fine with the previous version installed. Once the new version is installed everything loads fine until it gets to EvilCraft

[2019-03-20 07:09] rubensworks commented on #134
CurseForge is having some issues that caused some of my mod updates to be rejected: https://twitter.com/CurseForge/status/1108183445442707456

Please wait to update until that is resolved, or you can use the dev builds (see README).

<blockquote><img src="https://pbs.twimg.com/profile_images/725406699369058304/0mVMpCrb_400x400.jpg" width="48" align="right"><div>Twitter</div><div><strong><a href="h

[2019-03-20 19:01] rubensworks commented on #134
FYI, I've managed to update the missing mods again on CurseForge, everything should be in order now!

[2019-03-20 19:01] #134 closed, assigned to nobody

[2019-03-24 07:46] #40 closed, assigned to nobody

[2019-04-27 04:55] benserwa opened #135 "Handle invalid recipe files more gracefully"
#### Issue type:

- :bug: Bug

____

#### Short description:

My modpack crashes with most recent version of Cyclops Core.

#### Versions:

- This mod: 1.1.1
- Minecraft: 1.12.2
- Forge: 14.23.5.2831

#### Log file:

https://paste.dimdev.org/jenixokike.mccrash

[2019-04-27 05:02] benserwa commented on #135
Just for a try I updated Forge and it still crashes.

https://paste.dimdev.org/damitoboje.mccrash

<blockquote><div><strong><a href="https://paste.dimdev.org/damitoboje.mccrash">hastebin</a></strong></div></blockquote>

[2019-04-27 05:04] benserwa commented on #135
Never mind, I had an invalid XML file in the Integrated Dynamics config folder. Duh. Probably that should fail more gracefully if possible?

[2019-04-27 06:11] rubensworks commented on #135
Indeed, that can be improved.

[2019-04-29 09:25] #135 closed, assigned to nobody

[2019-05-02 01:48] ScottDTA opened #136 "Machine Reader crash"
#### Issue type:

- :bug:  Crash on opening machine reader

____

#### Short description:

Machine Reader crash attached to squeezer

#### Steps to reproduce the problem:

place a machine reader on squeezer and try to open GUI.  Crash everytime

#### Expected behaviour:

GUI would open and allow normal interaction

____

#### Versions:

- This mod:  1.12.2-2.2.1
- Minecraft:  1.12.2
- Forge: 14.23

[2019-05-02 05:31] rubensworks commented on #136
Duplicate of https://github.com/CyclopsMC/IntegratedDynamics/issues/722, which has been fixed in dev (release coming later this week).

[2019-05-02 05:31] #136 closed, assigned to nobody

[2019-05-24 20:09] rubensworks commented on #5
I don't think this is really needed after all, closing this.

[2019-05-24 20:09] #5 closed, assigned to nobody

[2019-07-15 13:04] HaddockA opened #137 "Fix version detection"
No issues with your mod, but I did get these two warnings in my log in MultiMC:

[08:55:25] [Client thread/WARN] [Integrated Crafting]: Could not get version info: java.io.FileNotFoundException: https://raw.githubusercontent.com/CyclopsMC/Versions/master/1.12/IntegratedCrafting.txt
[08:55:25] [Client thread/WARN] [Integrated Terminals]: Could not get version info: java.io.FileNotFoundException: ht

[2019-07-15 13:08] rubensworks commented on #137
Indeed, nothing to worry about. These files contain (read: *should* contain) version information about mods. Since recent changes to CurseForge, my automated process to generate these broke, which is why these don't exist or don't get updated anymore. I should look into this at some point...

[2019-07-16 08:21] HaddockA commented on #137
Thank you for your help!

[2019-07-16 08:23] rubensworks commented on #137
I'll leave this issue open as a reminder for myself to fix this at some point :-)

[2019-07-31 18:34] rubensworks commented on #127
Finally done!

https://github.com/CyclopsMC/infobook-html-evilcraft
https://github.com/CyclopsMC/infobook-html-integrateddynamics

<blockquote><img src="https://avatars2.githubusercontent.com/u/11808375?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/CyclopsMC/infobook-html-evilcraft">

[2019-07-31 18:34] #127 closed, assigned to nobody

[2019-08-02 14:55] rubensworks commented on #137
It looks like https://www.cfwidget.com/ (the way I get CurseForge data) is currently broken. Will have to revisit this when it is fixed.

Note to self when fixed:
Finish https://github.com/CyclopsMC/version-bot and add in the following hooks:

* hook1: https://github.com/CyclopsMC/Versions/
* hook2: infobooks
	-> https://github.com/CyclopsMC/infobook-html-integrateddynamics/blob/master/modpack.jso

[2019-09-10 17:46] rubensworks commented on #68
This should be mostly resolved in the 1.14 branch: https://github.com/CyclopsMC/CyclopsCore/tree/master-1.14

<blockquote><img src="https://avatars2.githubusercontent.com/u/11808375?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/CyclopsMC/CyclopsCore">CyclopsMC/CyclopsCore</a></strong

[2019-09-10 17:46] #68 closed, assigned to nobody

[2019-09-14 21:03] man-im-unoriginal-af opened #138 "NoSuchMethodError Exception on Forge 1.14.4-28.1.0"
#### Issue type: Probably a typo.

- :bug: Bug

____

#### Short description:

Mod is incompatible with Forge 28.1.0 with the following error message that looks to be a coding typo:

[code]
Full log will be attached.

#### Steps to reproduce the problem:

1. Install CyclopsCore to /mods
2. Launch Minecraft
3. Load a save game

#### Expected behaviour:

Game will freeze whilst Console Output alread

[2019-09-15 06:14] rubensworks commented on #138
Duplicate of https://github.com/CyclopsMC/EverlastingAbilities/issues/129

[2019-09-15 06:14] #138 closed, assigned to nobody

[2019-11-02 01:38] SeraphJACK opened #139 "Important Users lookup cost a long time in server thread"
#### Issue type:

- :bug: Bug

____

#### Short description:

When I tried to start a server with this mod, it stucked and thread dump shows that CyclopsCore is blocking the main thread due to network IO.

#### Steps to reproduce the problem:

1. Start the game with this mod.

#### Expected behavior:

Do it off main thread.

____

#### Notes

[Seems you tried to do it off main thread](https://gith

[2019-11-02 20:13] rubensworks commented on #139
Oh, my bad...

[2019-11-06 12:03] Matthew021750 opened #140 "Not a valid mod."
#### Issue type: Not recognised as a mod

- :bug: Bug CyclopsCore is not a valid mod file (CyclopsCore-1.14.4-1.5.4-sources.jar)

____

#### Short description:

Minecraft 1.14.4 does not register 1.5.4 as a valid mod when installed to mods folder, stated as "not installed". Under warning, MC states that it's not a valid mod file.

#### Steps to reproduce the problem:

Download Colossal-Chests-Mod-

[2019-11-07 08:00] rubensworks commented on #140
You are using the sources file (`CyclopsCore-1.14.4-1.5.4-sources.jar`), which is the wrong one.

You should be using `CyclopsCore-1.14.4-1.5.4.jar`.

[2019-11-07 08:00] #140 closed, assigned to nobody

[2019-11-19 15:39] #139 closed, assigned to nobody

[2020-01-15 07:50] Coloryr opened #141 "EvilCraft: crash on server"
#### Issue type:

- :bug: Bug

#### Versions:

- This mod: CyclopsCore-1.12.2-1.6.0
- Minecraft: 1.12.2
- Forge: 1.12.2-14.23.5.2847

and
EvilCraft: 1.12.2-0.10.78

#### Log file:

crash report:
https://paste.ubuntu.com/p/6dgB6ZhfMg/

[2020-01-15 08:01] rubensworks commented on #141
Please include steps to reproduce this problem.

[2020-01-16 12:34] Coloryr commented on #141
I don't konw my player do some things in my server,just starting server,and it crashing.

[2020-03-30 15:38] #141 closed, assigned to nobody

[2020-04-11 12:28] MusicMaestro123 opened #142 "[1.12.2] java.lang.NullPointerException on Colossal Chest placement"
#### Issue type:

- :bug: Crash

____

#### Short description:

It crashed when I placed the final block of the colossal chest.

#### Steps to reproduce the problem:

1. Download listed mods in crash report.
2. Construct obsidian colossal chest.
3. It will say: Shutting down internal server.

#### Expected behaviour:

The chest to assemble and for it to not crash.

____

#### Versions:

- This mod

[2020-04-11 12:30] rubensworks commented on #142
Thanks for reporting!

[2020-04-14 15:37] #142 closed, assigned to nobody

[2020-05-01 14:40] Demolishun opened #143 "Cyclops Core pauses during forge startup for 45 seconds when playing offline"
#### Issue type:

- :bug: Bug/Undesired Behavior

____

#### Short description:

I often play the game without internet.  So that means I play offline.  On game startup during the Forge loading screen Cylcops Core pauses the startup for 45 seconds.  I can actually hear the cpu fan slow down during this time.  This tells me it is waiting for an event.

#### Steps to reproduce the problem:

1. Add C

[2020-05-02 06:16] rubensworks commented on #143
Hmm, I thought this was fixed already.
Thanks for reporting!

Note to self: https://github.com/CyclopsMC/CyclopsCore/blob/master-1.12/src/main/java/org/cyclops/cyclopscore/tracking/Versions.java#L101

<blockquote><img src="https://avatars2.githubusercontent.com/u/11808375?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</d

[2020-05-07 09:31] rubensworks commented on #109
This will be fixed in the new MC 1.15 versions.

[2020-05-07 09:31] #109 closed, assigned to nobody

[2020-05-10 08:08] #143 closed, assigned to nobody

[2020-05-28 19:42] SCLeoX opened #145 "Allow escaping " (double quotes) in NBT Path"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

I don't think it is currently possible to match keys with double quotes in them. It would be nice to allow escaping double quotes: `["a\"b"]`.

The downside of this is that now back slashes need escaping as well. So an alternative might be escaping double quotes by another double quotes: `["a""b"]`.

I can make a

[2020-05-29 06:47] rubensworks commented on #145
The slash-based escaping sounds like a good idea!
Feel free to make a PR for it.

Be sure to add some unit tests for this, I aim to have a 100% test coverage of NBT Path :-)

[2020-06-24 17:28] #145 closed, assigned to SCLeoX

[2020-11-07 12:25] AlienXtream opened #147 "[Crash] [1.12.2] Crash on picking up an unknown item"
#### Issue type:

- :bug: Bug

____

#### Short description:

crash on picking up an unknown elder guardian drop (it crashes on pickup so i cant see it)

its too late at night for me to do more testing myself to determine exactly WHAT item is the problem (100% another mods item as it does NOT happen with just cyclops core). i will do more testing to determine exactly WHAT item and make a report on

[2020-11-07 12:25] AlienXtream commented on #147
oh hey, the bug report has a little caterpillar icon :D

[2020-11-07 12:25] rubensworks commented on #147
Thanks for reporting!

[2020-11-07 12:25] AlienXtream commented on #147
wow.. that was FAST...

[2020-11-07 20:37] AlienXtream commented on #147
its air... its a damn air block.... and it crashes whenever it renders the mouse over...

[2020-11-07 20:37] #147 closed, assigned to nobody

[2020-11-16 16:54] rubensworks commented on #11
Given the current MC and Forge features, this doesn't feel required anymore.

[2020-11-16 16:54] #11 closed, assigned to nobody

[2021-01-22 10:28] 7eggert opened #148 "1.16.4 log spam with exceptions"
#### Issue type:

- :bug: Bug

#### Steps to reproduce the problem:

Load my (populated) world; will upload on request

These two message spam the log:

[22Jan2021 11:18:26.299] [Server thread/INFO] [STDERR/]: [org.cyclops.cyclopscore.persist.nbt.NBTClassType:performActionForField:622]:  at java.base/java.lang.Class.getDeclaredField(C
lass.java:2569)

[22Jan2021 11:25:18.528] [Render thread/INFO]

[2021-01-22 10:45] rubensworks commented on #148
@7eggert Your issue appears to be not following one of the allowed issue templates, which breaks our automation tools. Please update your issue to the proper template.

[2021-01-22 12:06] rubensworks commented on #148
Thanks for reporting!

[2021-01-22 16:36] rubensworks commented on #148
Could you try reproducing this without any other mods installed? What Java version are you using?

[2021-01-23 13:17] 7eggert opened #149 "1.16.4: NPE after removing a dimension"
#### Issue type:

- :bug: Bug

____

#### Short description:

After removing a mod that creates a dimension, I get this crash:

[23Jan2021 13:54:34.795] [Server thread/ERROR] [net.minecraftforge.eventbus.EventBus/EVENTBUS]: Exception caught during firing event: Cannot invoke "net.minecraft.world.IBlockReader.func_175625_s(net.minecraft.
util.math.BlockPos)" because "world" is null
        Index: 2

[2021-01-23 13:18] rubensworks commented on #149
Thanks for reporting!

[2021-01-23 13:18] 7eggert commented on #148
I created a new world; the bundled minecraft VM is used:
[latest-newlyCreatedWorld.log.gz](https://github.com/CyclopsMC/CyclopsCore/files/5860240/latest-newlyCreatedWorld.log.gz)

[2021-01-23 14:06] 7eggert commented on #148
I just found out that the launcher says it uses the bundled JVM, but really it uses my systems default JVM of /usr/lib64/jvm/java-15-openjdk-15/bin/java

[2021-01-24 08:36] Remering opened #150 "java.lang.NoSuchFieldException when I issued a plugin command /tps"
#### Issue type:

- :bug: Bug

____

#### Short description:

Exception stacks are filled in my terminal when I issue the command `/tps`.
This also happens when I start the server.
But it espically happends when someone issues the command `/tps`.
[code]

I notice [this issue](https://github.com/CyclopsMC/CyclopsCore/issues/148) has already reported it,  but I think that one is not proper. So I iss

[2021-01-24 08:36] rubensworks commented on #150
Thanks for reporting!

[2021-01-24 09:35] rubensworks commented on #150
Looks like the same problem as #148.

[2021-01-24 09:35] #150 closed, assigned to nobody

[2021-01-24 09:36] rubensworks commented on #148
Note to self: https://stackoverflow.com/questions/56039341/get-declared-fields-of-java-lang-reflect-fields-in-jdk12

<blockquote><img src="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon@2.png?v=73d79a89bded" width="48" align="right"><div>Stack Overflow</div><div><strong><a href="https://stackoverflow.com/questions/56039341/get-declared-fields-of-java-lang-reflect-fields-in-jdk12"

[2021-01-24 10:38] #148 closed, assigned to nobody

[2021-01-25 19:11] #149 closed, assigned to nobody

[2021-01-27 19:19] #137 closed, assigned to nobody

[2021-02-18 14:12] Yourname942 opened #152 "Server Crash - Null Pointer Exception due to race condition"
#### Issue type:

- :bug: Bug

____

#### Short description:

The server crashed on booting up.

#### Steps to reproduce the problem:

1. launch the server
2. experience crash

#### Expected behaviour:

The server should boot up with no issues

____

#### Versions:

- This mod: 1.16.4-1.11.1
- Minecraft: 1.16.5
- Forge: 36.0.22

#### Log file:
Crash Log:
https://gist.github.com/Yourname942/2f2dbfe

[2021-02-18 14:12] rubensworks commented on #152
Thanks for reporting!

[2021-02-18 14:17] rubensworks commented on #152
@Yourname942 Does this crash always happen, or just sometimes? Does this only occur for you when other mods are installed?

Note to self: https://github.com/CyclopsMC/CyclopsCore/blob/master-1.16/src/main/java/org/cyclops/cyclopscore/infobook/InfoBookRegistry.java#L83

<blockquote><img src="https://avatars.githubusercontent.com/u/11808375?s=400&v=4" width="48" align="right"><div><img src="https://

[2021-02-18 14:49] Yourname942 commented on #152
This is the first time it has happend, so I'm not sure how frequently it would occur

[2021-02-18 14:55] rubensworks commented on #152
Ok, good to know, so probably a race condition.

[2021-02-21 08:53] dd880602 opened #153 "Server warning"
[16:40:04] [Thread-14/WARN] [cyclopscore/]: Could not get version info: java.io.FileNotFoundException: https://raw.githubusercontent.com/CyclopsMC/Versions/master/1.16/CyclopsCore.txt

[2021-02-21 10:28] rubensworks commented on #153
Probably not using the latest version.

[2021-02-21 10:28] #153 closed, assigned to nobody

[2021-02-21 10:28] rubensworks commented on #153
@dd880602 Your issue appears to be not following one of the allowed issue templates, which breaks our automation tools. Please update your issue to the proper template.

[2021-03-01 18:08] rubensworks commented on #152
Haven't been able to reproduce this, but next version will contain a change that will make it easier to debug if it should occur again.

[2021-03-08 19:05] rubensworks commented on #152
Closing this in the meantime. Please comment (with logs) should this issue occur again for anyone.

[2021-03-08 19:05] #152 closed, assigned to nobody

[2021-04-17 15:01] DBotThePony opened #155 "Excessive calls to RegistryKey.getOrCreateKey from DimPos cause immense lag"
#### Issue type:

- :snail: Performance issue

____

#### Short description:

`DimPos.isLoaded()` call down to `RegistryKey.getOrCreateKey`, which call `String.intern()`, which is utterly slow
https://github.com/CyclopsMC/CyclopsCore/blob/7b9933925546cd03222ae6c73252ca31aac44444/src/main/java/org/cyclops/cyclopscore/datastructure/DimPos.java#L38-L40

![Xming_4J5yQqZ7TA](https://user-images.githubu

[2021-04-17 15:01] rubensworks commented on #155
Thanks for reporting!

[2021-04-18 02:39] DBotThePony commented on #155
Here is sampling file for over 7 hours of server runtime: [cyclops_longer_profile.zip](https://github.com/CyclopsMC/CyclopsCore/files/6330395/cyclops_longer_profile.zip)

[2021-04-22 10:00] DBotThePony commented on #155
Forgot to mention that server is running under Linux Ubuntu Server 20.10, kernel version 5.9.1-050901-generic, Minecraft Server itself is running under [GraalVM](https://www.graalvm.org/downloads/) 21.0.0.2 (which is *faster* than regular HotSpot JVM).

Since [some mods seem to perform much worse](https://github.com/Vazkii/Quark/issues/1781) under Linux  until getting performance fixes, I am makin

[2021-04-22 10:18] rubensworks commented on #155
If it needs to be done quickly, you're welcome to submit a PR with a fix yourself.
I can't guarantee when I'll be able to look into this. I do all of this in my free time (whenever I have some to spare).

[2021-04-22 15:19] #155 closed, assigned to nobody

[2021-04-24 18:32] Yourname942 opened #157 "Server Crash NullPointerException"
#### Issue type:

- :bug: Bug

____

#### Short description:

The server crashes sometime during the booting up of the server. It may be related to this: https://www.curseforge.com/minecraft/mc-mods/illagers/issues/2

#### Steps to reproduce the problem:

1. Encounter in-game crash ( https://www.curseforge.com/minecraft/mc-mods/illagers/issues/2 )
2. Boot up server again
3. crash
4. repeat steps 2

[2021-04-24 18:33] rubensworks commented on #157
Thanks for reporting!

[2021-04-25 08:54] rubensworks commented on #157
Related to #152

[2021-04-26 17:19] #157 closed, assigned to nobody

[2021-05-27 00:00] CanBoy67 opened #158 "Cannot create a fluidstack from a null fluid"
#### Issue type:

- :bug: Bug

____

#### Short description:
During loading minecraft crashes with a java.lang.IllegalArgumentException: Cannot create a fluidstack from a null fluid. I'm not sure if your still mantaining the 1.15.2 version of this mod or not but the above error is preventing me from playing the custom pack i'm making with this

#### Steps to reproduce the problem:

1. Load Game
2.

[2021-05-27 00:01] rubensworks commented on #158
Thanks for reporting!

[2021-05-27 06:38] rubensworks commented on #158
I'm sorry, but 1.15 is not being maintained anymore.

[2021-05-27 06:38] #158 closed, assigned to nobody

[2021-06-20 09:56] CharlieUniformNovemberTango opened #159 "Dedicated server crash on startup. (after/during world load)"
#### Issue type:

- :bug: Bug

____

#### Short description:

Dedicated server crash. Possible conflict with agricraft.

#### Steps to reproduce the problem:

1: Launch dedicated server with mods as described below.
2: Wait for crash at the end of world build.

#### Expected behaviour:

No crash ¯\_(ツ)_/¯
____

#### Versions:

- This mod: CyclopsCore-1.16.5-1.11.7
- Minecraft: 1.16.5
- Forge: 36.1

[2021-06-20 09:56] rubensworks commented on #159
Thanks for reporting!

[2021-06-21 09:15] InfinityRaider commented on #159
For reference: https://github.com/AgriCraft/AgriCraft/issues/1356
If you figure out what is causing this, and if my code is somehow responsible, that is the place to come yell at me.

[2021-06-26 18:31] rubensworks commented on #159
@InfinityRaider It looks like this is a problem on your end:
[code]

The `T` inside `AttachCapabilitiesEvent` is not guaranteed to be a `ICapabilityProvider`.
I also suspect you may be missing a more specific type for `T` in your event subscriber, as you probably don't want to be listening to capabilities for networks of this mod?

In any case, let me know if there's anything I can do to help! :-)

[2021-06-26 18:31] #159 closed, assigned to nobody

[2021-06-26 21:18] InfinityRaider commented on #159
Not sure if this is the same thing though.
The Capability cast issue was fixed in a [recent InfinityLib commit ](https://github.com/InfinityRaider/InfinityLib/commit/32c0ce06eaaeb9419cd343dadd0ed4215479ad26), as I was, indeed, too overzealously casting the object to ICapabilityProvider.

The stacktrace of this issue though is different and does not hint to InfinityLib at all:

[code]

[2021-06-27 08:12] rubensworks commented on #159
I think it is the same thing though. This error is preceded by a print of the invocation target exception, which is a `ClassCastException`. But for some reason, that stacktrace is incomplete, while the one from the other linked issue is.

[2021-06-27 11:59] InfinityRaider commented on #159
I see, I shall push a release shortly and ask for feedback.

[2021-08-18 14:32] Flanks255 opened #160 "On the dynamics of integration not giving rewards on some servers."
#### Issue type:

- :bug: Bug

____

#### Short description:

Tutorial rewards not giving rewards.
Throwing `[cyclopscore/]: Received an invalid advancement reward id 'integrateddynamics:meneglin_basics' from Flanks255.`

#### Steps to reproduce the problem:

Unknown at the moment.
This happens on one out of 3 servers at the moment.

This works on my server: https://i.flanks255.com/i/flanks/931a8f

[2021-08-18 14:32] rubensworks commented on #160
Thanks for reporting!

[2021-08-23 15:40] rubensworks commented on #160
@Flanks255 I just made a minor change, which may potentially fix the issue. Could you try out the latest dev build?
If it still doesn't work, could you check the server logs to see if there are any mentions of `Loading infobook`?

[2021-08-23 22:31] Flanks255 commented on #160
where would that be? the link to dev builds on the curse page 404's :)

[2021-08-24 06:01] rubensworks commented on #160
Oh, it looks like not all links have been updated yet...

This is the new place: https://github.com/CyclopsMC/packages/packages/769892

<blockquote><img src="https://opengraph.githubassets.com/dfa9b9a24ee44ae983740d0c950ffc3fafdf20b6886a33fb38e15a3d450331f1/CyclopsMC/packages" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><di

[2021-08-24 06:02] rubensworks opened #161 "Update outdated links to dev builds"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

#160

[2021-08-24 06:02] rubensworks commented on #161
Thanks for the suggestion!

[2021-08-24 16:18] rubensworks commented on #161
Done

[2021-08-24 16:18] #161 closed, assigned to nobody

[2021-08-24 21:30] Flanks255 commented on #160
sill just the same `Received an invalid advancement reward id 'integrateddynamics:network_foundations' from Flanks255..`

[2021-08-25 06:19] rubensworks commented on #160
@Flanks255 Does it show any mentions of `Loading infobook` in the server logs at startup?

[2021-08-25 11:45] Flanks255 commented on #160
[code]

[2021-08-25 13:41] Flanks255 commented on #160
sorry when i first read the log it was 6am and i had just woken up, and searched for the wrong string... :)

[2021-08-25 14:15] rubensworks commented on #160
Thanks for checking. So the problem does not lie where I hoped/expected it to be, strange...

[2021-08-25 15:28] rubensworks commented on #160
@Flanks255 Is there any chance the one server is overriding the ID data pack somehow? Because if the `/data/integrateddynamics/info/on_the_dynamics_of_integration.xml` would be changed to exclude the `integrateddynamics:network_foundations` reward id, then this could explain the problem.

[2021-08-25 16:46] Flanks255 commented on #160
`Sunekaer — Today at 11:42 AM
Not to my knowledge, its the same files as the other server`

The other server it works on.

[2021-08-25 16:51] rubensworks commented on #160
Hmm, then I'll have to do some thinking.

Is it ok if I provide a custom dev build sometime soon that prints some debug information?

[2021-08-25 16:54] Flanks255 commented on #160
its fine, i can always bug sune to drop it on the beta server :)

[2021-08-27 23:38] Flanks255 commented on #160
So, sadly, it has started working... tricky part is it was during a pack update on the server, as its a beta server for a prereleased pack, the following mods got updated when it started working... ![](https://cdn.discordapp.com/attachments/858082596776443904/880958284599799838/unknown.png)

[2021-08-28 11:42] rubensworks commented on #160
Hmm. That _does_ give us some information on the origin of the problem. Probably some kind of race condition that is influenced by mod loading order. But I don't have any immediate ideas where the problem may lie exactly.

[2021-08-30 15:14] rubensworks commented on #160
No clue on what may be going on. In case anyone reading this in the future can provide any additional information, please share it here, so that we can re-open this issue.

[2021-09-15 18:26] AerWyn81 opened #162 "Server crash when a player goes to a Dungeon Dimensions"
Hi,

I don't know if it's your mod that is responsible, but in the stacktrace it is displayed.
If you think it's not your responsibility, I would go to the developer of the other mod!

#### Issue type:

- :bug: Bug

____

#### Short description:

#### Steps to reproduce the problem:

The server crashes when a player goes to a [Dungeon Dimension](https://www.curseforge.com/minecraft/mc-mods/dimensi

[2021-09-15 18:27] rubensworks commented on #162
Thanks for reporting!

[2021-09-15 18:31] rubensworks commented on #162
Looks like a performance issue (a tick took a very long time).
Can you share details about your network and if possible a profiler output?

[2021-09-15 18:48] AerWyn81 commented on #162
We are hosted on a dedicated server with 16Go RAM memory, 4 Core up to 5Ghz & 80Go storage and without network issue.
The server held the load for when 10 players were online yesterday. When it crashed 6x today, there were between 2/4 players.
I got another one crash, seem's a bit different : https://pastebin.com/kAMvuti1

EDIT : The last crash occurred when the player was not doing anything in hi

[2021-09-16 05:07] rubensworks commented on #162
This is probably a specific IT exporter that causes massive lag.

There's not much I can do with just the crashlogs and the system details.

I'll need some details about the ID/IT network this perf issue is caused by, or better: a profiler output.

[2021-09-16 18:22] AerWyn81 commented on #162
Hi

I have two test servers. The first one is without the IntegratedTunnels mod and works fine, no crashes.
The second one is a backup of the complete modpack (with IntegratedTunnels because I suspect that it is he who can cause problems).
I installed [Spark](https://www.curseforge.com/minecraft/mc-mods/spark) on the second one to try to give you a little more information. Note that the server sta

[2021-09-18 14:51] rubensworks commented on #162
The profiling output doesn't seem to give much useful information unfortunately.

I suspect there's an IT network that connects to a massive storage range, which causes the performance issue.
There may be possibilities for optimization, but for that, I'd need to know exactly what that IT network looks like, and to what storage blocks it is connected.

[2021-09-22 20:11] AerWyn81 commented on #162
Hi, after several days of testing, it seems that this is a side effect of another issue on our modpack. A mob from a plugin riding a pig and make crash occur! Sorry for inconvenience

[2021-09-22 20:11] #162 closed, assigned to nobody

[2021-09-23 06:24] rubensworks commented on #162
Good to hear the problem is resolved :-)

[2021-10-10 01:01] AlienXtream opened #163 "[Bug] Crash with (new) Tardis Mod"
please see relevant issue on NTM gitlab

https://gitlab.com/Spectre0987/TardisMod-1-14/-/issues/260

[2021-10-10 08:26] rubensworks commented on #163
Seems to be fixed?

[2021-10-10 08:26] #163 closed, assigned to nobody

[2021-10-10 10:17] Darkere opened #164 "Capability crash 1.16.5"
#### Issue type:

- :bug: Bug

____

#### Short description:

I'm unsure if this bug is caused by the Screen itself or something in your code. From what I can tell the screen is just checking if the capability exists.

https://github.com/McJtyMods/RFToolsBase/blob/e08694a23e8a95eb0e064e6f5e7a63b9dac03ab1/src/main/java/mcjty/rftoolsbase/modules/informationscreen/blocks/InformationScreenTileEntity.j

[2021-10-10 10:17] rubensworks commented on #164
Thanks for reporting!

[2021-10-10 20:27] AlienXtream commented on #163
pending update from the mod, yeh, they seem to think so.

[2021-10-11 06:38] rubensworks commented on #164
This error is thrown if the `Capability` reference is null: https://github.com/CyclopsMC/CyclopsCore/blob/master-1.16/src/main/java/org/cyclops/cyclopscore/modcompat/capabilities/DefaultCapabilityProvider.java#L42

So it looks like `CapabilityInformationScreenInfo.INFORMATION_SCREEN_INFO_CAPABILITY` in RFTools is null, so there is probably something going wrong on their end. Could you report it to

[2021-10-28 15:08] #164 closed, assigned to nobody

[2022-01-08 21:14] Bass2style opened #165 "[1.18.1] npe crash on world join"
#### Issue type:

- :bug: Bug

____

#### Short description:

my modpack is crashing with a NPE when Cyclops Core and RFTools Utility are in the same pack, similar to #164 with RFTools Base.

#### Steps to reproduce the problem:

1. create a new world, and join it.
2. the modpack is crashing before you're in the world.

#### Expected behaviour:
joining the world without crashing. lul

____

#### V

[2022-01-08 21:14] rubensworks commented on #165
Thanks for reporting!

[2022-01-10 07:34] rubensworks commented on #165
Looks like this was a problem in RFTools.

[2022-01-10 07:34] #165 closed, assigned to nobody

[2022-01-10 19:03] Bass2style commented on #165
yes, McJty have fixed this yesterday, forgot to close the issue. thanks for your support.

[2022-02-24 00:24] MagmaSlime123 opened #166 "Unneeded buckets being shown in JEI and the Creative inventory."
#### Issue type:

- :bug: Bug

____

#### Short description:

CyclopsCore putting Betweenlands liquids as default buckets into JEI and the Creative inventory.
CraftTweaker refuses to remove/hide them from JEI as well.

#### Steps to reproduce the problem:

Install Betweenlands, JEI, and this mod.
See JEI and the bottom part of the Misc. tab of the Creative inventory.

#### Expected behaviour:

The

[2022-02-24 00:25] rubensworks commented on #166
Thanks for reporting!

[2022-02-24 00:26] MagmaBro123 commented on #166
No problem.

[2022-02-24 01:00] MagmaSlime123 commented on #166
No problem.

This may also occur with other mods that have liquids too, but I have not tested.

[2022-02-24 07:42] rubensworks commented on #166
Why do you think this mod is causing the problem? This mod does not interact with JEI in any way.

[2022-02-24 19:18] MagmaSlime123 commented on #166
I have no idea. Without JEI they're only added to the Creative inventory, but no toggle/config exists for removing them.

[2022-02-24 19:19] rubensworks commented on #166
Closing this issue then, sounds like a bug in Betweenlands.

[2022-02-24 19:19] #166 closed, assigned to nobody

[2022-04-18 11:59] rubensworks commented on #89
Shouldn't be a problem anymore with the new mojmappings.

[2022-04-18 11:59] #89 closed, assigned to nobody

[2022-05-02 11:17] Darkfiend009 opened #167 "[1.18.2] Failed to load Datapacks"
#### Issue type:

- :bug: Bug

____

#### Short description:

With the latest update to Cyclops Core (1.13.5), there is a datapack loading issue. I tested with only JEI and Evilcraft installed.

#### Steps to reproduce the problem:

1. Install Evilcraft/Cyclops Core
2. Create a new world
3. Failed to load datapacks error

#### Expected behaviour:

New world to generate

____

#### Versions:

- Thi

[2022-05-02 11:18] rubensworks commented on #167
Thanks for reporting!

[2022-05-02 11:30] rubensworks commented on #167
Hmm, EvilCraft will require a minor fix for this.

[2022-05-02 15:26] #167 closed, assigned to nobody

[2022-05-27 15:09] reinei commented on #160
I am unsure if this is still the correct place to post (seeing as I neither have additional info right away nor am I using the same mc version as Flanks was originally using)...

However, using version 0.4.3 of atm7 (All the mods 7) again results in rewards not being given out (this time in singleplayer) with the message `[Server thread/WARN] [cyclopscore/]: Received an invalid advancement reward

[2022-05-27 15:13] rubensworks commented on #160
Thanks for the input @reinei.

That is interesting. First time I hear this one.

That's great to hear. I'll look into preparing a debug version soon (might take a couple of weeks in the worst-case though).

[2022-05-27 16:05] rubensworks commented on #160
@reinei I just prepared a debug version, could you try out this CyclopsCore version?
https://www.dropbox.com/s/xfduw6tfoy8f1si/CyclopsCore-1.18.2-1.13.6-DEV.jar?dl=0

Important things to look out for:
- There should be multiple console logs for `Registering achievement reward` at startup
- When `Received an invalid advancement reward id` is shown, there should also be on the next line a dump of al

[2022-05-27 16:59] reinei commented on #160
This turned into a slight comment dump but it appears all rewards are registered, but somehow don't survive into me actually clicking inside the book...

(Also yes, I did include the relevant evilcraft lines as well, in case you see something that might mess with the rewards because it's not actually meant to be there)

[code]

Because the available reward id's are empty at this point in time?

[c

[2022-05-27 17:56] rubensworks commented on #160
@reinei Thanks for checking.

Do you also see any mentions of `Registering achievement reward...` on the `Server thread`? If not, then the problem is that the achievement registration is not happening server-side for some reason, which would get me a bit closer towards discovering what the problem is...

[2022-05-27 21:25] reinei commented on #160
@rubensworks there are NO registration events from the server thread.

Also the Client registration only happens during world load (I am assuming that is okay since advancements are per world?)

[2022-05-29 13:53] #160 closed, assigned to nobody

[2022-05-29 13:54] rubensworks commented on #160
@reinei I just discovered the problem and pushed a new version (not released yet).

Before I make the new release, could you try out the latest build to see if everything works properly on your end?
Can be found on https://github.com/CyclopsMC/packages/packages/769892 (177 might still be building at the time of writing)

<blockquote><img src="https://opengraph.githubassets.com/dfa9b9a24ee44ae98374

[2022-05-29 14:25] reinei commented on #160
@rubensworks using the new package does give the correct rewards in singleplayer now (tested for both the first and second tutorial rewards)

The items actually only appear when the book gets closed but that might just be the game not updating the background rendering while the GUI is open (and might be the "old" effect, I am not sure what happened in 1.17 and earlier).
But seeing as the items are

[2022-05-29 15:32] rubensworks commented on #160
Great, thanks for checking @reinei!

Indeed, sounds like the same behaviour as has always been.

[2022-07-03 02:58] reddvilzz opened #169 "Froze while Joining the World"
#### Issue type:

- :question: Question
I'm getting a crash on joining the world, well actually not a crash just the game froze while the console says

usually I can get this to work just by closing and reload the world again, but this time I tried doing it 4 times and it still give me crash and I can't join my world.
Reading at the [crash report](https://github.com/CyclopsMC/CyclopsCore/files/903

[2022-07-03 02:58] rubensworks commented on #169
Someone will answer your question soon. In the meantime, you might be able to get help more quickly on our [Discord server](https://discord.gg/9yDxubB).

[2022-07-03 07:14] Krutoy242 commented on #169
Have same issue.

Error happen in CyclopsCore class, but actual reason is most likely the **Integrated Proxy**.

I created an issue on their side https://github.com/shBLOCK/IntegratedProxy/issues/29

[2022-07-03 13:02] reddvilzz commented on #169
Oh right, I removed IntegratedProxy mod while adding back both LagGoggles and Tick Central and the world load just fine, I guess there is really something in IntegratedProxy that cause this.

[2022-07-03 14:41] rubensworks commented on #169
Great, thanks for finding the cause @Krutoy242!
Closing this issue here then.

[2022-07-03 14:41] #169 closed, assigned to nobody

[2022-07-16 09:08] Arshia-D opened #170 "Need Update for Forge 1.19-41.0.99"
Game Crash mod need update for new forge version
- Minecraft: 1.19
- Forge: 41.0.99

[2022-07-16 12:05] rubensworks commented on #170
Yes, I'm aware.

[2022-07-16 12:05] #170 closed, assigned to nobody

[2022-07-16 12:05] rubensworks commented on #170
@DJ1Silva Your issue appears to be not following one of the allowed issue templates, which breaks our automation tools. Please update your issue to the proper template.

[2022-08-04 12:44] enbear opened #171 "Error with trying to load my own server"
#### Issue type:

- :bug: Bug

____

#### Short description: when trying to start my personal server cyclops core encoounters an error

#### Steps to reproduce the problem:

1. download the latest version of forge server
2. download latest version of cyclops core and put it in the mods folder of the forge server
3. run the forge server

#### Expected behaviour:

i expect when you run the server it

[2022-08-04 12:45] rubensworks commented on #171
Thanks for reporting!

[2022-08-04 16:10] a-sakharov commented on #171
Same thing happens for me, log: https://pastebin.com/y0aZEpdr

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="right"><div>Pastebin</div><div><strong><a href="https://pastebin.com/y0aZEpdr">2022-08-04 19:08:12,363 main WARN Advanced terminal features are not available i - Pastebin.com</a></strong></div><div>Pastebin.com is the number one paste tool since 2002. Pastebin

[2022-08-11 14:34] Saereth opened #172 "CyclopsCore preventing mobs from getting xray attribute from"
#### Issue type:

- :bug: Bug

____

#### Short description:

I opened an issue because of a server and singleplayer crash relateed to enhanced AI and the dev pointed the issue back here to cycloscore preventing some mobs from getting the xray attribe which is then causing the game to crash.

#### Steps to reproduce the problem:

1. run a pack with evilcraft/cyclopsCore/EnhancedAI and randomly you

[2022-08-11 14:35] rubensworks commented on #172
Thanks for reporting!

[2022-08-11 17:59] rubensworks commented on #171
Fixed in new releases.

[2022-08-11 17:59] #171 closed, assigned to nobody

[2022-08-12 15:22] a-sakharov opened #173 "1.19.1 support"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

Hello.
Curseforge provides builds for 1.19 and 1.19.2, but both of them looks to bu incompatible with 1.19.1. Can you also provide support for 1.19.1?
Thanks.

[2022-08-12 15:23] rubensworks commented on #173
Thanks for the suggestion!

[2022-08-12 16:17] rubensworks commented on #173
No sorry, 1.19 and 1.19.1 won't be maintained anymore. Just update to 1.19.2 :-)

[2022-08-12 16:17] #173 closed, assigned to nobody

[2022-08-23 16:01] #172 closed, assigned to nobody